@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

    /* header */

        .header{

            /* header-top */

                .header-top{background-image:none;padding: 18px 0 15px 0;position: relative;

                    .sendwich{display: block;}

                    .header-top-wrap{position: absolute;display:none;left:0;top:calc(100% + 15px);width: 100%;flex-direction:column;align-items: flex-start;background-color:#37728b;padding: 10px 15px 20px 15px;z-index: 1;

                        /* header-town */

                            .header-town{margin-top: 0;width: 100%;margin-bottom: 10px;
                                .jq-selectbox, .jq-selectbox__select{width: 100%;}
                                .jq-selectbox__select{padding: 5px 25px 5px 25px;height: 36px;background-position:10px 50%;background-color:#6193aa;line-height: 26px;font-family: 'Open Sans', sans-serif;}
                                .jq-selectbox__select-text{border-bottom:none;}

                            }

                        /* /header-town */

                        /* header-nav */

                            .header-top-nav{
                                nav{
                                    ul{flex-direction:column;
                                        li{margin-right: 0;padding: 10px 0;
                                            a{font-size: 16px;font-weight: 600;font-family: 'Open Sans', sans-serif;color:#fff;}
                                        }
                                    }
                                }
                            }

                        /* /header-nav */

                    }

                    /* header-login */

                        .header-login{position: relative;z-index: 2;

                            /* header-loginization */

                                .header-loginization{
                                    .header-loginization-form{transform:translate(50%, 0);right:50%;}
                                }

                            /* /header-loginization */

                        }

                    /* /header-login */


                }

            /* /header-top */

        }

    /* /header */

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}