
@media screen and (min-width: 1200px){
    // header fix
    .header .header-center .header-center-left .header-contacts-main{width: 80%;justify-content: center;}
    .header-logo{align-self: inherit;width: 20%;}
    .header .header-center .header-center-left{justify-content: space-between;align-items: center;}
    .header .header-center .header-center-left .header-contacts-main .header-contact{width: 68%;display: flex;align-items: baseline;justify-content: space-around;padding: 6px;}
}



@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 850px){

    /* header */

        .header{

            /* header-center */

                .header-center{
                    .header-center-left{justify-content: space-around;
                        .header-contacts-main{flex-direction:column;justify-content: center;
                            .header-callback{padding: 10px 0 0 0;}
                        }
                    }
                }

            /* /header-center */

        }

    /* header */

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

    /* header */

        .header{

            /* header-top */

                .header-top{background-image:none;padding: 18px 0 15px 0;position: relative;

                    .sendwich{display: block;}

                    .header-top-wrap{position: absolute;display:none;left:0;top:calc(100% + 15px);width: 100%;flex-direction:column;align-items: flex-start;background-color:#37728b;padding: 10px 15px 20px 15px;z-index: 1;

                        /* header-town */

                            .header-town{margin-top: 0;width: 100%;margin-bottom: 10px;
                                .jq-selectbox, .jq-selectbox__select{width: 100%;}
                                .jq-selectbox__select{padding: 5px 25px 5px 25px;height: 36px;background-position:10px 50%;background-color:#6193aa;line-height: 26px;font-family: 'Open Sans', sans-serif;}
                                .jq-selectbox__select-text{border-bottom:none;}

                            }

                        /* /header-town */

                        /* header-nav */

                            .header-top-nav{
                                nav{
                                    ul{flex-direction:column;
                                        li{margin-right: 0;padding: 10px 0;
                                            a{font-size: 16px;font-weight: 600;font-family: 'Open Sans', sans-serif;color:#fff;}
                                        }
                                    }
                                }
                            }

                        /* /header-nav */

                    }

                    /* header-login */

                        .header-login{position: relative;z-index: 2;

                            /* header-loginization */

                                .header-loginization{
                                    .header-loginization-form{transform:translate(50%, 0);right:50%;}
                                }

                            /* /header-loginization */

                        }

                    /* /header-login */


                }

            /* /header-top */

            /* header-center */

                .header-center{position: absolute;z-index: 4;right: 10px;top:10px;min-height: 0;background-image:none;background-color:transparent;
                    .header-center-left{display: none;}
                }

            /* /header-center */

            /* header-botttom */

                .header-bottom{background-color: #30647c;border-top:1px solid #457d97;border-bottom:0;box-shadow:0 2px 6px 0 rgba(12, 73, 102, .79);

                    .mbox{display: flex;align-items: center;justify-content: space-between;}

                    .mobile-logo{display: block;width: 35%;}
                    .mobile-catalog-button{display: block;}

                    .header-mobile-catalog-wrap{width: 65%;height: 100px;display: flex;flex-direction:column;align-items: center;justify-content: center;
                        &>ul{display: none;position: absolute;width: 100%;top:100%;left:0;background-color: #3b7089;box-shadow:inset 0 2px 6px 0 rgba(12, 73, 102, .79);
                            li{flex-direction:column;}
                        }
                    }

                    /* header-search */

                        .header-search{width: 100%;padding:20px 10px 20px 10px;
                            .search-form{
                                .form-row{
                                    input{border-radius: 5px;background-color:rgba(255,255,255, .25);box-shadow:none;border-color:transparent;color:#fff;

                                        &::-webkit-input-placeholder{opacity: 0;}
                                        &:-moz-placeholder {opacity: 0;}
                                        &::-moz-placeholder {opacity: 0;}
                                        &:-ms-input-placeholder {opacity: 0;}

                                        &:focus{width: 100%;margin-left: 0;}

                                        &.error{box-shadow:none;}
                                    }
                                    &.error+.submit-row{
                                        button{border-color:transparent;box-shadow:none;
                                            &:hover{background-color:transparent;}
                                        }
                                    }
                                }
                                .submit-row{
                                    button{background-color: transparent;background-color: transparent;border-color: transparent;box-shadow:none;
                                        &:hover{background-color:transparent;}
                                    }
                                }
                            }
                        }

                    /* /header-search */

                    /* header-catalog */

                        .header-catalog{width: 100%;padding:0 10px 20px 10px;
                            &>ul{flex-direction:column;
                                &>li, &>li.show, &>li:hover{width: 100%;
                                    &:after{height: 1px;transform:scale(1);}
                                    p{justify-content: space-between;padding:10px 10px;
                                        .catalog-list-img-wrap{display: none;}
                                        a{color:#fff;font-family: 'Open Sans', sans-serif;font-weight: 600;}
                                        .catalog-list-arrow{
                                            &:before, &:after{background-color: #fff;}
                                            &:before{transform:rotate(45deg) translateZ(0px);}
                                            &:after{transform:rotate(-45deg) translateZ(0px);}
                                        }
                                        &.active{
                                            .catalog-list-arrow{
                                                &:before{transform:rotate(-45deg) translateZ(0px);}
                                                &:after{transform:rotate(45deg) translateZ(0px);}
                                            }
                                        }
                                    }
                                    &>p{position: relative;
                                        .catalog-list-arrow{width: 11px;height: 11px;position: absolute;right: 0px;top:calc(50% - 6px);
                                            &:before, &:after{width: 11px;height: 3px;transform:rotate(0deg) translateZ(0px);top:calc(50% - 2px);left:0;}
                                            &:before{top:calc(50% - 2px);left:50%;}
                                            &:after{transform:rotate(90deg);}
                                        }
                                    }
                                    ul{display: none;position: relative;
                                        &>li, &>li:hover{box-shadow:none;
                                            p{padding:10px 0px 10px 10px;
                                                a{color:#37728b;font-weight: 600;font-family: 'Open Sans', sans-serif;}
                                                span{transform-origin:50% 50%;transition:all 300ms ease;}
                                                &.active{
                                                    span{transform:rotate(90deg);
                                                        &:before, &:after{background-color:#37728b;}
                                                    }
                                                }
                                            }
                                            &>ul{left:10px;position: relative;width: calc(100% - 20px);}
                                        }
                                    }
                                }
                            }
                        }

                    /* /header-catalog */

                }

            /* /header-bottom */

        }

        .header-contact-telefone.mobile-show{display: block !important;}

    /* /header */

}
@media screen and (max-width: 479px){

    /* header */

        .header{

            /* header-center */

                .header-center{

                    /* header-busket */

                        .header-busket{

                            .header-busket-list-main{width: 300px;right:-15px;
                                .header-busket-list{
                                    &:before{right:25px;}
                                }
                            }

                        }

                    /* /header-busket */

                }

            /* /header-center */

        }

    /* /header */

    /* header-busket-form (used in popup too) */

        .busket-form{
            .header-busket-list-wrap{
                ul{
                    li{
                        .item-img{width: 65px;margin-bottom: 10px;}
                        .busket-list-link{width: calc(100% - 75px);margin-bottom: 10px;}

                    }
                }
            }
        }

        /* header busket popup */

            .busket-popup-main{
                .fancybox-close{right: 10px;top:10px;}
                .busket-form{padding:30px 0 20px;
                    .busket-descript{
                        .busket-title{font-size: 18px;margin-bottom: 10px;}
                        .busket-subtitle{padding:0 10px;text-align: center;}
                    }
                    .header-busket-list-wrap{
                        ul{
                            li{padding:20px 20px 10px 10px;
                                .busket-list-link{width: calc(100% - 75px);}
                                .busket-list-price{width: calc(100% - 120px);padding-right: 5px;}
                            }
                        }
                    }
                    .header-busket-list-link{
                        .header-busket-popup{padding:15px 10px 0 10px;
                            .header-busket-popup-line-top{justify-content: center;}
                            .header-busket-popup-line-bottom{flex-direction:column;
                                .form-buing{margin-bottom: 10px;}
                            }
                        }
                    }
                }
            }

        /* /header busket popup */

    /* /header-busket-form (used in popup too) */

}
@media screen and (max-width: 320px){

}