@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){
    // fix 27.05.2016
    .right-column.main-page{
        .right-column-wrap{ display: flex;align-items: flex-end;
            .top-block{margin-bottom: 0;width: 100%;}
        }
    }
}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1160px){
    .top-block .three-items .subitem a{padding: 10px 11px;}
}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){
    // top-block
    .top-block .three-items .subitem a{min-height: 190px;
        .subitem_img{text-align: center;}
        svg{height: 185px;margin: 0 auto;display: inline-block;}
    }

    // title
    .title{font-size: 22px;
        h5{font-size: 22px;}
        a{display: inline-block;padding: 3px 14px;background-color: #fff;border-radius: 18px;font-family: 'Open Sans',sans-serif;}
    }
    .comment .comment_add{border-radius: 0px;}


    // news
    .news{
        .news-wrap{
            .item{
                 .item-img{align-content:center;justify-content:center;display: flex;
                    a{display: block;position: static;transform: translate(0%, 0%);align-content:center;justify-content:center;display: flex;align-items:center;
                        img{border-radius: 8px;max-width: 100%;}
                    }
                 }
                 .item-time{}
                 .item-title{font-size: 13px;line-height: 18px;}
                 .item-text{line-height: 18px;}
            }
        }
    }

    //
    .footer{
        .footer-wrap{padding-top: 30px;}
        .footer-map a{display: flex;}
        .footer-social{padding:0}
    }

    // brends
    .brends .brends-slider-wrap{padding: 0 4%;}
    .brends .slick-prev{left: 10px;}
    .brends .slick-next {right: 10px;}

    // top-block
    .top-block{
        .three-items{
            .subitem{width: 50%;justify-content: flex-start;
                a{/*height: 100px;flex-direction: row;*/}
                .subitem_img img{max-width: 60%;}
                .subitem_other{align-self: center;}
            }
        }
    }
}
@media screen and (max-width: 830px){
    // catalog-goods
    .catalog-goods{
        .goods-item{background-color: #fff;width: 50%;}
        .goods-item .goods-item-wrap{height: auto;}
        .goods-item{
            &:nth-child(3n){border-right: none;}
            &:nth-child(2n){border-right: 1px solid #ecf0f1;}
        }
        .show-more{
            .show-more-wrap{max-width: 100%;background-color: #fff;
                .show-more-triangle{display: none;
                    &:after{}
                }
                .show-more-text{color: #739cae;font-size: 18px;padding: 6px 0px;}
            }
        }
    }
}
@media screen and (max-width: 768px){
    // tabs
    .goods-detail {
        .goods-top {margin-bottom: 25px;
            .goods-left{margin-right: 15px;}
            .goods-right{padding: 15px;
                .goods-title{
                    h2{font-weight: 400;font-size: 26px;}
                }
            }
        }
        .goods-bottom{padding: 0 0px;
            &>.goods-tab>.wrapper>.tabs{}
            .tabContent{padding: 20px 15px;background-color: #fff;}
        }

    }


    // news
    .news{
        .news-wrap{flex-direction:column;background-color: transparent;border:none;
            .item{width: 100%;min-height: auto;border: 1px solid #ecf0f1;margin-bottom: 15px;background-color: #fff;
                 &:nth-child(4n){border-right: none;}
                 .item-img{text-align: center;overflow: hidden;height: 120px;position: relative;
                    a{display: inline-block;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);
                        img{border-radius: 8px;max-width: none;}
                    }
                 }
                 .item-time{padding: 15px 0 10px;font-family: "Open Sans",sans-serif;font-size: 12px;color: #ababab;}
                 .item-title{font-size: 14px;font-family: "Open Sans",sans-serif;font-weight: 600;line-height: 1.1}
                 .item-text{font-family: "Open Sans",sans-serif;color: #ababab;font-size: 12px;line-height: 1.2;}
            }
        }
    }
}
@media screen and (max-width: 767px){


    // goods popap
    .serial-popup-main{width: 100%;padding: 20px 10px 10px;
        p{margin:0;}

        .serial-form-row:last-child .serial-form-acordion-wrap{}
        .serial-form-acordion-wrap{}
        .serial-form-acordion-wrap.has-bottom .serial-form-acrodion-top{
            &:after{}
            &.active:after{}
        }

        .serial-popup-rows-wrap{}
        .serial-label{padding-left: 10px;}
        .serial-popup-title{}
        .input-check-wrap{
            input{}
            input+.radio-main{}
            input:checked+.radio-main:after{}
            input+.checkbox-main{}
            input:checked+.checkbox-main:after{}
        }
        .input-description{margin-left: 0;width: 60%;margin-right: 0;padding-right: 1%;
            .input-description-top{}
            .input-description-bottom{}
        }
        .input-price{width: 20%;}

        .serial-form-row.bottom{
            .serial-form-sum{
                .serial-sum-val{}
            }
            .serial-form-submit{
                .button.serial-submit{}
            }
        }
    }


}
@media screen and (max-width: 666px){
    // right column
    .right-column{justify-content:center;}
    .right-column .right-column-wrap{width: 100%;}


    // title
    .title{
        h5{}
        a{background-color: transparent;}

        &.big{text-align: center;justify-content: center;padding: 15px 0px 10px;border-bottom: 1px solid #dadada;margin-bottom: 20px;
            h2{font-size: 22px;margin-bottom: 0;}
            a{display: block;}
        }
    }

    // goods items
    .goods-items{}
    .goods-item{
        &:nth-child(4n){border-right: 1px solid #ecf0f1;}
        .goods-item-wrap{height: 260px;text-align: center;
            .goods-item-img{height: 150px;}

            .goods-item-title{}
            .goods-item-subtitle{padding: 5px 0px 5px;}
            .goods-item-price{display: flex;flex-direction:column;
                .goods-item-price-now{margin-right: 0;margin-bottom: 5px;}
            }
        }
    }

    // brends
    .brends{
        .brends-wrap{padding: 0 3%;}
        .brends-item{
            &:hover{border-bottom: 2px solid transparent;}
        }
        .slick-prev, .slick-next{border-bottom: 5px solid #acbbc4;border-right: 5px solid #acbbc4;transform: translate(0, -50%) rotate(-45deg);height: 15px;width: 15px;
            &:before{display: none;}
            &:hover{border-color:#8BA4B3; }
        }
        .slick-prev{left: 10px;transform: translate(0, -50%) rotate(135deg);}
        .slick-next{right: 10px;}
    }



    // footer
    .footer{
        .footer-row{
            .footer-item{width: 100%;max-width: 190px;margin:0 auto;}
            &:first-child{
                .footer-item:not(:last-child){display: none;}
                .footer-tel{text-align: right;}
            }
            &:nth-child(2){display: none;}
            &:last-child{
                .footer-item.center{display: none;}
                .footer-item:nth-child(2){display: none;}
                .copy{padding-top: 6px;}
            }
            .footer-mail,.footer-call,.footer-map{display: none;}
        }
    }


    // tabs
    .goods-detail {
        .mobile-show{display: block;}
        .goods-top {flex-direction:column;
            .goods-left{margin-right: 0;width: 100%;background-color: transparent;position: relative;
                .mobile-show{padding: 12px 10%;border-bottom: 1px solid #dadada;position: relative;text-align: center;margin-bottom: 15px;
                    a{border-bottom: 5px solid #477990;border-right: 5px solid #477990;transform: translate(0, -50%) rotate(135deg);z-index: 10;height: 12px;width: 12px;position: absolute;left: 0;top: 50%;}
                    h2{margin:0;font-weight: 400;font-size: 20px;}
                }
                .goods-big-slider{background-color: #fff;
                    .slider-nav{display: none;}
                }
            }
            .goods-right{width: 100%;
                .goods-title{display: none;}
                .goods-title-mark{display: none;}
                .button{max-width: 100%;}
                .goods-price{text-align: center;flex-direction:column;
                    span{margin:0;margin-top: 9px;}
                }
                .goods-button{flex-direction:column;    margin-bottom: 20px;
                    .goods-bascket{margin-bottom: 15px;}
                }
            }
        }
        .goods-bottom{;
            &>.goods-tab>.wrapper>.tabs{}
            .tabContent{}
        }
    }

    .mobile-show.filter-show{display: block;position: relative;
        .filter-form{background-color: #fff;padding-bottom: 40px;margin-bottom: 20px;
            .filter-item{border-bottom: none;background-color: #f5f7f6;padding: 0;margin:0 10px 10px;
                &:last-child{background-color: #fff;}
            }
            .filter-item-container{padding-top: 5px;padding: 10px;
                .item span:before{width: 3px;right: 4px;}
            }
            .filter-item-title{padding-top: 8px;padding-left: 10px;margin-bottom: 0;
                &:after,&:before{top: 14px;}
                &:after{right: 8px;}
                &:before{right: 11px;}
            }
        }
        .filter-text-filtering{display: block;position: absolute;bottom: 0;left: 0;width: 100%;text-align: center;}
    }

    .breadcrumbs{display: none;}
    .catalog-top-img{display: none;}

    .goods-slider{
        .title{background-color: #fff;padding: 15px 10px 5px;margin-top: 15px;
            h2{margin:0;}
        }
        .tab-select{background-color: #fff;}
        .goods-items{border:none;border-top: 1px solid #ecf0f1;}
    }
    .right-column .right-column-wrap{padding-left: 0;}


    .header-login{display: none;}
    .header .header-top .header-login-moblie{display: block;width: 100%;
        .header-login{display: block;}
        .header-loginization .header-loginization-form{right: auto;left: 0;transform: none;width: 100%;position: relative;}

        .user-logined{margin-top: -40px;}
        .user-logined .user-logined-content{position: relative;z-index: 10;}
        .user-logined .user-logined-title{margin: -20px 0 0px 0;}

        .header-loginization .header-loginization-icon{margin:0 auto;}
    }

    // rewiev
    .rewiew-popup{width: 95% !important;left: 50% !important;transform: translateX(-50%) !important;
        .fancybox-inner{width: 100% !important;}
    }
    #rewievPopup{width: 100%;padding: 30px 15px;}
    #rewievPopup .rewievPopup-wrap{display: block;}
    #rewievPopup .form_input, #rewievPopup .submit-wrap{max-width: 100%;}
    #rewievPopup label{width: 90px;}
    #rewievPopup input, #rewievPopup textarea,#rewievPopup .rating{max-width: 100% !important;width: calc(100% - 120px) !important;}

        // top-block
    .top-block{
        .three-items{
            .subitem{width: 100%;justify-content: flex-start;
                a{}
            }
        }
    }

}
@media screen and (max-width: 479px){
    // catalog-goods
    .catalog-goods{
        .goods-item{width: 100%;}
        .goods-item{border-right: 1px solid #ecf0f1;
            &:nth-child(3n){border-right: 1px solid #ecf0f1;}
            &:nth-child(2n){border-right: 1px solid #ecf0f1;}
        }

        .goods-item-wrap{padding: 15px;text-align: left;
            .goods-item-title{font-size: 15px;}
            .goods-item-price {flex-direction: row;}
            .goods-item-price .goods-item-price-now{width: 50%;margin-bottom: 0;}
            .goods-item-price .goods-item-price-old{width: 50%;display: flex;align-items: center;justify-content:center;font-size: 13px;}
        }

    }

    // goods popap
    .serial-popup-main{
        p{margin:0;}

        .serial-form-row:last-child .serial-form-acordion-wrap{}
        .serial-form-acordion-wrap{}
        .serial-form-acordion-wrap.has-bottom .serial-form-acrodion-top{
            &:after{display: none;}
            &.active:after{display: none;}
        }

        .serial-popup-rows-wrap{}
        .serial-label{}
        .serial-popup-title{}
        .input-check-wrap{
            input{}
            input+.radio-main{}
            input:checked+.radio-main:after{}
            input+.checkbox-main{}
            input:checked+.checkbox-main:after{}
        }
        .input-description{
            .input-description-top{padding-bottom: 0;}
            .input-description-bottom{line-height: 15px;}
        }
        .input-price{width: 26%;}

        .serial-form-row.bottom{
            .serial-form-sum{
                .serial-sum-val{}
            }
            .serial-form-submit{
                .button.serial-submit{}
            }
        }
    }

    // comment
    .comment{
        .comment-done .aside_left{padding-right: 10px;
            .item-town{word-break: break-word;font-size: 10px;}
            .item-date{font-size: 10px;}
            .item-name{font-size: 12px;}
        }
        .comment-done .aside_right {
            .item-test{font-size: 14px;}
        }
    }

}
@media screen and (max-width: 320px){

}