// top-block
.top-block{margin-bottom: 20px;
    .item .top img{width: 100%;}
    .three-items{display: flex;align-content:flex-start;justify-content:center;flex-wrap:wrap;
        .subitem{width: 33.33%;overflow: hidden;
            &:hover{
                .subitem_name{text-decoration: none;}
            }
            a{text-decoration: none;min-height: 210px;align-content:flex-start;justify-content:space-between;display: flex;flex-direction:column;padding: 15px 20px;color: white;}
            .subitem_other{align-self: flex-end;align-content:flex-end;display: flex;flex-direction:column;text-align: right;color: white;}
            .subitem_price{font-weight: bold;font-size: 18px;}
            .subitem_name{text-transform: uppercase;text-decoration: underline;font-family: 'Open Sans';font-weight: 600;font-size: 14px;line-height: 24px;}
        }
    }
}

// title
.title{line-height: 24px;font-size: 24px;color: #242423;font-weight: 400;display: flex;justify-content:space-between;align-items:center;
    h5{font-weight: 400;font-size: 24px;margin: 20px 0px;}
    a{font-size: 14px;line-height: 24px;}
}

// goods items
.goods-items{display: flex;align-content:center;justify-content:flex-start;border:1px solid #ecf0f1;background-color: #fff;}
.goods-item{width: 25%;border-right: 1px solid #ecf0f1;
    &:nth-child(4n){border-right: none;}
    .goods-item-wrap{display: flex;height: 280px;flex-direction:column;overflow: hidden;padding: 5px 18px 30px;background-color: #fff;
        .goods-item-img{height: 165px;position: relative;
            img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
        }
        .goods-item-title{font-size: 14px;color: #37728b;font-family: 'Open Sans',sans-serif;font-weight: 600;}
    }
}