<div class="breadcrumbs">
    <div class="mbox right-column">
        <div class="column-script no-height second-style">
            <ul>
                <li>
                    <a href="#">РУСГЕОКОМ</a>
                </li>
                <li>
                    <a href="#">Оптические теодолиты</a>
                </li>
                <li>
                    <a href="#">Topcon</a>
                </li>
                <li>Оптические теодолиты</li>
            </ul>
        </div>
    </div>
</div>