<div class="brends">
    <div class="mbox">
        <div class="title">
            <h5>Бренды</h5>
        </div>
    </div>
    <div class="brends-slider">
        <div class="mbox">
            <div class="brends-slider-wrap">
                <div class="brends-item">
                    <a href="#">
                        <span class="brends-item-img">
                            <img src="images/brends-item-img-1.jpg" alt="">
                        </span>
                    </a>
                </div>
                <div class="brends-item">
                    <a href="#">
                        <span class="brends-item-img">
                            <img src="images/brends-item-img-2.jpg" alt="">
                        </span>
                    </a>
                </div>
                <div class="brends-item">
                    <a href="#">
                        <span class="brends-item-img">
                            <img src="images/brends-item-img-3.jpg" alt="">
                        </span>
                    </a>
                </div>
                <div class="brends-item">
                    <a href="#">
                        <span class="brends-item-img">
                            <img src="images/brends-item-img-4.jpg" alt="">
                        </span>
                    </a>
                </div>
                <div class="brends-item">
                    <a href="#">
                        <span class="brends-item-img">
                            <img src="images/brends-item-img-5.jpg" alt="">
                        </span>
                    </a>
                </div>
                <div class="brends-item">
                    <a href="#">
                        <span class="brends-item-img">
                            <img src="images/brends-item-img-1.jpg" alt="">
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>