<div class="brend">

    <div class="breadcrumbs">
        <div class="mbox right-column">
            <div class="column-script no-height second-style">
                <ul>
                    <li>
                        <a href="#">РУСГЕОКОМ</a>
                    </li>
                    <li>
                        <a href="#">Оптические теодолиты</a>
                    </li>
                    <li>
                        <a href="#">Topcon</a>
                    </li>
                    <li>Оптические теодолиты</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="title">
        <h2>TOPCON</h2>
    </div>

    <div class="brend-top">
        <div class="brend-top-wrap">
            <div class="brend-top-img">
                <img src="images/brend-top-img.png" alt="" />
            </div>
            <div class="brend-top-text">
                <p>Всемирно известный бренд электроинструмента Bosch принадлежит немецкому концерну Robert Bosch GmbH. Под этой маркой также выпускается бытовая техника, запчасти и компоненты для автопрома, строительные системы. Вся продукция соответствует девизу компании — «Качество в каждой детали».</p>
                <p>Начало компании было положено в 1886 году, когда инженер Роберт Бош открыл частную мастерскую в Штутгарте. Уже в первые десятилетия фирма специализировалась на изготовлении электрооборудования. С 1930-х годов был налажен выпуск электроинструмента.</p>
            </div>
        </div>
    </div>

    <div class="brend-catalog">
        <div class="brend-catalog-line">
            <div class="brend-catalog-button">
                <img src="images/brend-show-more-img.png" alt="" />
            </div>
        </div>
        <div class="brend-catalog-list">
            <div class="title">
                <h3>Каталог TOPCON</h3>
            </div>
            <div class="brend-catalog-list-wrap">

                <div class="brend-catalog-list-item">
                    <ul>
                        <li class="second-level">
                            <p>
                                <a href="#">Геодезические приемники</a>
                                <span class="second-arrow"></span>
                            </p>
                            <ul>
                                <li>
                                    <a href="#">item1</a>
                                </li>
                                <li>
                                    <a href="#">item2</a>
                                </li>
                                <li>
                                    <a href="#">item3</a>
                                </li>
                            </ul>
                        </li>
                        <li class="second-level">
                            <p>
                                <a href="#">Электронные тахеометры</a>
                                <span class="second-arrow"></span>
                            </p>
                            <ul>
                                <li>
                                    <a href="#">item1</a>
                                </li>
                                <li>
                                    <a href="#">item2</a>
                                </li>
                                <li>
                                    <a href="#">item3</a>
                                </li>
                            </ul>
                        </li>
                        <li class="second-level">
                            <p>
                                <a href="#">Сканирующие системы</a>
                                <span class="second-arrow"></span>
                            </p>
                            <ul>
                                <li>
                                    <a href="#">item1</a>
                                </li>
                                <li>
                                    <a href="#">item2</a>
                                </li>
                                <li>
                                    <a href="#">item3</a>
                                </li>
                            </ul>
                        </li>
                        <li class="second-level">
                            <p>
                                <a href="#">Полевые контроллеры</a>
                                <span class="second-arrow"></span>
                            </p>
                            <ul>
                                <li>
                                    <a href="#">item1</a>
                                </li>
                                <li>
                                    <a href="#">item2</a>
                                </li>
                                <li>
                                    <a href="#">item3</a>
                                </li>
                            </ul>
                        </li>
                        <li class="second-level">
                            <p>
                                <a href="#">Электронные теодолиты</a>
                                <span class="second-arrow"></span>
                            </p>
                            <ul>
                                <li>
                                    <a href="#">item1</a>
                                </li>
                                <li>
                                    <a href="#">item2</a>
                                </li>
                                <li>
                                    <a href="#">item3</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="brend-catalog-list-item">
                    <ul>
                        <li class="second-level">
                            <p>
                                <a href="#">Оптические теодолиты</a>
                                <span class="second-arrow"></span>
                            </p>
                            <ul>
                                <li>
                                    <a href="#">item1</a>
                                </li>
                                <li>
                                    <a href="#">item2</a>
                                </li>
                                <li>
                                    <a href="#">item3</a>
                                </li>
                            </ul>
                        </li>
                        <li class="second-level">
                            <p>
                                <a href="#">Оптические нивелиры</a>
                                <span class="second-arrow"></span>
                            </p>
                            <ul>
                                <li>
                                    <a href="#">item1</a>
                                </li>
                                <li>
                                    <a href="#">item2</a>
                                </li>
                                <li>
                                    <a href="#">item3</a>
                                </li>
                            </ul>
                        </li>
                        <li class="second-level">
                            <p>
                                <a href="#">Лазерные уровни</a>
                                <span class="second-arrow"></span>
                            </p>
                            <ul>
                                <li>
                                    <a href="#">item1</a>
                                </li>
                                <li>
                                    <a href="#">item2</a>
                                </li>
                                <li>
                                    <a href="#">item3</a>
                                </li>
                            </ul>
                        </li>
                        <li class="second-level">
                            <p>
                                <a href="#">Цифровые нивелиры</a>
                                <span class="second-arrow"></span>
                            </p>
                            <ul>
                                <li>
                                    <a href="#">item1</a>
                                </li>
                                <li>
                                    <a href="#">item2</a>
                                </li>
                                <li>
                                    <a href="#">item3</a>
                                </li>
                            </ul>
                        </li>
                        <li class="second-level">
                            <p>
                                <a href="#">Лазерные дальномеры</a>
                                <span class="second-arrow"></span>
                            </p>
                            <ul>
                                <li>
                                    <a href="#">item1</a>
                                </li>
                                <li>
                                    <a href="#">item2</a>
                                </li>
                                <li>
                                    <a href="#">item3</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="brend-catalog-list-item">
                    <ul>
                        <li class="second-level">
                            <p>
                                <a href="#">Трассоискатели</a>
                                <span class="second-arrow"></span>
                            </p>
                            <ul>
                                <li>
                                    <a href="#">item1</a>
                                </li>
                                <li>
                                    <a href="#">item2</a>
                                </li>
                                <li>
                                    <a href="#">item3</a>
                                </li>
                            </ul>
                        </li>
                        <li class="second-level">
                            <p>
                                <a href="#">Георадары</a>
                                <span class="second-arrow"></span>
                            </p>
                            <ul>
                                <li>
                                    <a href="#">item1</a>
                                </li>
                                <li>
                                    <a href="#">item2</a>
                                </li>
                                <li>
                                    <a href="#">item3</a>
                                </li>
                            </ul>
                        </li>
                        <li class="second-level">
                            <p>
                                <a href="#">GPS-навигаторы</a>
                                <span class="second-arrow"></span>
                            </p>
                            <ul>
                                <li>
                                    <a href="#">item1</a>
                                </li>
                                <li>
                                    <a href="#">item2</a>
                                </li>
                                <li>
                                    <a href="#">item3</a>
                                </li>
                            </ul>
                        </li>
                        <li class="second-level">
                            <p>
                                <a href="#">Беспилотные аппараты</a>
                                <span class="second-arrow"></span>
                            </p>
                            <ul>
                                <li>
                                    <a href="#">item1</a>
                                </li>
                                <li>
                                    <a href="#">item2</a>
                                </li>
                                <li>
                                    <a href="#">item3</a>
                                </li>
                            </ul>
                        </li>
                        <li class="second-level">
                            <p>
                                <a href="#">Программное обеспечение</a>
                                <span class="second-arrow"></span>
                            </p>
                            <ul>
                                <li>
                                    <a href="#">item1</a>
                                </li>
                                <li>
                                    <a href="#">item2</a>
                                </li>
                                <li>
                                    <a href="#">item3</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="brend-bottom">
        <div class="goods-items">
            <div class="good-item">
                <a href="#">
                    <span class="goods-item-wrap">
                        <span class="goods-item-img">
                            <img src="images/goods-item-img-1.png" alt="" />
                        </span>
                        <span class="goods-item-title">GPS Topcon GR-3</span>
                        <span class="goods-tem-subtitle">Контроллер</span>
                        <span class="goods-item-price">
                            <span class="goods-item-price-now action">369120 .-</span>
                            <span class="goods-item-price-old">450900 .-</span>
                        </span>
                    </span>
                </a>
            </div>
            <div class="good-item">
                <a href="#">
                    <span class="goods-item-wrap">
                        <span class="goods-item-img">
                            <img src="images/goods-item-img-1.png" alt="" />
                        </span>
                        <span class="goods-item-title">GPS Topcon GR-3</span>
                        <span class="goods-tem-subtitle">Контроллер</span>
                        <span class="goods-item-price">
                            <span class="goods-item-price-now action">369120 .-</span>
                            <span class="goods-item-price-old">450900 .-</span>
                        </span>
                    </span>
                </a>
            </div>
            <div class="good-item">
                <a href="#">
                    <span class="goods-item-wrap">
                        <span class="goods-item-img">
                            <img src="images/goods-item-img-1.png" alt="" />
                        </span>
                        <span class="goods-item-title">GPS Topcon GR-3</span>
                        <span class="goods-tem-subtitle">Контроллер</span>
                        <span class="goods-item-price">
                            <span class="goods-item-price-now action">369120 .-</span>
                            <span class="goods-item-price-old">450900 .-</span>
                        </span>
                    </span>
                </a>
            </div>
            <div class="good-item">
                <a href="#">
                    <span class="goods-item-wrap">
                        <span class="goods-item-img">
                            <img src="images/goods-item-img-1.png" alt="" />
                        </span>
                        <span class="goods-item-title">GPS Topcon GR-3</span>
                        <span class="goods-tem-subtitle">Контроллер</span>
                        <span class="goods-item-price">
                            <span class="goods-item-price-now action">369120 .-</span>
                            <span class="goods-item-price-old">450900 .-</span>
                        </span>
                    </span>
                </a>
            </div>
            <div class="good-item">
                <a href="#">
                    <span class="goods-item-wrap">
                        <span class="goods-item-img">
                            <img src="images/goods-item-img-1.png" alt="" />
                        </span>
                        <span class="goods-item-title">GPS Topcon GR-3</span>
                        <span class="goods-tem-subtitle">Контроллер</span>
                        <span class="goods-item-price">
                            <span class="goods-item-price-now action">369120 .-</span>
                            <span class="goods-item-price-old">450900 .-</span>
                        </span>
                    </span>
                </a>
            </div>
            <div class="good-item">
                <a href="#">
                    <span class="goods-item-wrap">
                        <span class="goods-item-img">
                            <img src="images/goods-item-img-1.png" alt="" />
                        </span>
                        <span class="goods-item-title">GPS Topcon GR-3</span>
                        <span class="goods-tem-subtitle">Контроллер</span>
                        <span class="goods-item-price">
                            <span class="goods-item-price-now action">369120 .-</span>
                            <span class="goods-item-price-old">450900 .-</span>
                        </span>
                    </span>
                </a>
            </div>
        </div>
        <div class="load-more-items">
            <div class="load-more-icon">
                <img src="images/brend-show-more-img.png" alt="" />
            </div>
            <div class="load-more-text">Показать ещё 20</div>
            <div class="load-more-descript">Показано 30 товаров из 43</div>
        </div>
    </div>

</div>