<div class="busket">

    <div class="title">
        <h2>Корзина</h2>
    </div>

    <div class="busket-main">

        <div class="busket-top">
            <div class="busket-circle-wrap current">
                <div class="busket-circle-item">
                    <div class="busket-circle">1</div>
                    <div class="busket-circle-text">Ваш заказ</div>
                </div>
            </div>
            <div class="busket-circle-wrap">
                <div class="busket-circle-item">
                    <div class="busket-circle">2</div>
                    <div class="busket-circle-text">Доставка</div>
                </div>
            </div>
            <div class="busket-circle-wrap">
                <div class="busket-circle-item">
                    <div class="busket-circle">3</div>
                    <div class="busket-circle-text">Оплата</div>
                </div>
            </div>
            <div class="busket-circle-wrap">
                <div class="busket-circle-item">
                    <div class="busket-circle">4</div>
                    <div class="busket-circle-text">Получатель</div>
                </div>
            </div>
        </div>

        <div class="busket-items-main">

            <form class="busket-page-form">

                <div class="busket-items-wrap">

                    <div class="busket-item current">

                        <div class="header-busket-list-wrap">
                            <ul>
                                <li data-item-id=1>
                                    <div class="busket-item-info">
                                        <span class="item-img">
                                            <img src="images/basket-list-img1.png" alt="" />
                                        </span>
                                        <a href="#" class="busket-list-link">Тахеометр SOKKIA CX-105</a>
                                    </div>
                                    <div class="busket-list-count">
                                        <div class="busket-list-count-change minus"></div>
                                        <div class="busket-list-count-main" data-price=200>
                                            <div class="busket-list-text"><span>1</span> шт.</div>
                                            <div class="busket-list-input">
                                                <input type="text" name="busket_input_item_value" value="1" />
                                            </div>
                                        </div>
                                        <div class="busket-list-count-change plus"></div>
                                    </div>
                                    <div class="busket-item-end">
                                        <div class="busket-list-price"><span></span> р</div>
                                        <div class="remove-item"></div>
                                    </div>
                                </li>
                                <li data-item-id=2>
                                    <div class="busket-item-info">
                                        <span class="item-img">
                                            <img src="images/basket-list-img2.png" alt="" />
                                        </span>
                                        <a href="#" class="busket-list-link">Оптический нивелир RGK N-32</a>
                                    </div>
                                    <div class="busket-list-count">
                                        <div class="busket-list-count-change minus"></div>
                                        <div class="busket-list-count-main" data-price=100>
                                            <div class="busket-list-text"><span>1</span> шт.</div>
                                            <div class="busket-list-input">
                                                <input type="text" name="busket_input_item_value" value="1" />
                                            </div>
                                        </div>
                                        <div class="busket-list-count-change plus"></div>
                                    </div>
                                    <div class="busket-item-end">
                                        <div class="busket-list-price"><span></span> р</div>
                                        <div class="remove-item"></div>
                                    </div>
                                </li>
                                <li data-item-id=3>
                                    <div class="busket-item-info">
                                        <span class="item-img">
                                            <img src="images/basket-list-img3.png" alt="" />
                                        </span>
                                        <a href="#" class="busket-list-link">Трассоискатель RD 4000</a>
                                    </div>
                                    <div class="busket-list-count">
                                        <div class="busket-list-count-change minus"></div>
                                        <div class="busket-list-count-main" data-price=300>
                                            <div class="busket-list-text"><span>1</span> шт.</div>
                                            <div class="busket-list-input">
                                                <input type="text" name="busket_input_item_value" value="1" />
                                            </div>
                                        </div>
                                        <div class="busket-list-count-change plus"></div>
                                    </div>
                                    <div class="busket-item-end">
                                        <div class="busket-list-price"><span></span> р</div>
                                        <div class="remove-item"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="header-busket-list-link">

                            <div class="header-busket-popup">
                                <div class="header-busket-popup-line-top">
                                    <div class="all-sum-text">Итого: </div>
                                    <div class="all-sum-value"><span></span> р</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="busket-item">

                        <div class="radio-rows-main">

                            <div class="title">
                                <h4>Выберете способ доставки</h4>
                            </div>

                            <div class="radio-rows-wrap">

                                <div class="radio-row">
                                    <label>
                                        <span class="radio-wrap">
                                            <input type="radio" name="delivery_type" checked />
                                            <span class="radio-button"></span>
                                        </span>
                                        <span class="radio-text">Самовывоз <span>(бесплатно)</span></span>
                                    </label>
                                </div>

                                <div class="radio-row">
                                    <label>
                                        <span class="radio-wrap">
                                            <input type="radio" name="delivery_type" />
                                            <span class="radio-button"></span>
                                        </span>
                                        <span class="radio-text">Доставка по России <span>(договорная)</span></span>
                                    </label>
                                </div>

                                <div class="radio-row">
                                    <label>
                                        <span class="radio-wrap">
                                            <input type="radio" name="delivery_type" />
                                            <span class="radio-button"></span>
                                        </span>
                                        <span class="radio-text">Доставка по Москве и СПБ <span>(договорная)</span></span>
                                    </label>
                                </div>

                                <div class="radio-row">
                                    <label>
                                        <span class="radio-wrap">
                                            <input type="radio" name="delivery_type" />
                                            <span class="radio-button"></span>
                                        </span>
                                        <span class="radio-text">Доставка по Московской и Ленинградской области <span>(договорная)</span></span>
                                    </label>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="busket-items-button">

                    <a href="#" class="button-transparent busket-button-next active">
                        <span class="button-text">Далее</span>
                        <span class="button-icon">
                            <img src="images/next-icon.png" alt="" />
                        </span>
                    </a>

                    <button class="button-transparent busket-button-send" type="submit">
                        <span class="button-text">Купить</span>
                        <span class="button-icon">
                            <img src="images/next-icon.png" alt="" />
                        </span>
                    </button>

                </div>

            </form>

        </div>

    </div>

</div>