<div class="breadcrumbs">
    <ul>
        <li><a href="/"><span class="icon icon-g"></span> <span>РУСГЕОКОМ</span></a></li>
        <li><a href="/"><span>Электронные тахеометры</span></a></li>
        <li><a href="/"><span>Тахеометры LEICA</span></a></li>
    </ul>
</div>
<div class="title big">
    <a href="#"></a>
    <h2>Электронные теодолиты</h2>
</div>
<div class="mobile-show filter-show">

    <div class="filter-text-filtering">
        <p>Подобрано 7 товаров из 29</p>
    </div>
</div>
<div class="catalog-top-img">
    <a href="#">
        <img src="images/catalog-top-img.jpg" alt="">
    </a>
</div>
<div class="catalog-goods">
    <div class="goods-items">
        <div class="goods-item favorite">
            <a href="#">
                <span class="goods-item-wrap">
                    <span class="goods-item-img">
                        <img src="images/goods-item-img-1.jpg" alt="">
                    </span>
                    <span class="goods-item-title">GPS Topcon GR-3</span>
                    <span class="goods-item-price">
                        <span class="goods-item-price-now action">369120 .-</span>
                        <span class="goods-item-price-old">450900 .-</span>
                    </span>
                    <span class="goods-item-subdescr">
                        <span>Частота передачи данных - 100 Гц;</span>
                        <span>Типичная точность измерения - ±45 мм;</span>
                    </span>
                </span>
            </a>
        </div>
        <div class="goods-item">
            <a href="#">
                <span class="goods-item-wrap">
                    <span class="goods-item-img">
                        <img src="images/goods-item-img-2.jpg" alt="">
                    </span>
                    <span class="goods-item-title">GPS Topcon GR-3</span>
                    <span class="goods-item-price">
                        <span class="goods-item-price-now">369120 .-</span>
                        <span class="goods-item-price-old"></span>
                    </span>
                    <span class="goods-item-subdescr">
                        <span>Частота передачи данных - 100 Гц;</span>
                        <span>Типичная точность измерения - ±45 мм;</span>
                        <span>Типичная точность измерения - ±45 мм;</span>
                    </span>
                </span>
            </a>
        </div>
        <div class="goods-item action">
            <a href="#">
                <span class="goods-item-wrap">
                    <span class="goods-item-img">
                        <img src="images/goods-item-img-1.jpg" alt="">
                    </span>
                    <span class="goods-item-title">GPS Topcon GR-3</span>
                    <span class="goods-item-price">
                        <span class="goods-item-price-now">369120 .-</span>
                        <span class="goods-item-price-old"></span>
                    </span>
                    <span class="goods-item-subdescr">
                        <span>Частота передачи данных - 100 Гц;</span>
                        <span>Типичная точность измерения - ±45 мм;</span>
                    </span>
                </span>
            </a>
        </div>
        <div class="goods-item">
            <a href="#">
                <span class="goods-item-wrap">
                    <span class="goods-item-img">
                        <img src="images/goods-item-img-2.jpg" alt="">
                    </span>
                    <span class="goods-item-title">GPS Topcon GR-3</span>
                    <span class="goods-item-price">
                        <span class="goods-item-price-now">369120 .-</span>
                        <span class="goods-item-price-old"></span>
                    </span>
                    <span class="goods-item-subdescr">
                        <span>Частота передачи данных - 100 Гц;</span>
                        <span>Типичная точность измерения - ±45 мм;</span>
                    </span>
                </span>
            </a>
        </div>
        <div class="goods-item favorite">
            <a href="#">
                <span class="goods-item-wrap">
                    <span class="goods-item-img">
                        <img src="images/goods-item-img-1.jpg" alt="">
                    </span>
                    <span class="goods-item-title">GPS Topcon GR-3</span>
                    <span class="goods-item-price">
                        <span class="goods-item-price-now action">369120 .-</span>
                        <span class="goods-item-price-old">450900 .-</span>
                    </span>
                    <span class="goods-item-subdescr">
                        <span>Частота передачи данных - 100 Гц;</span>
                        <span>Типичная точность измерения - ±45 мм;</span>
                    </span>
                </span>
            </a>
        </div>
        <div class="goods-item">
            <a href="#">
                <span class="goods-item-wrap">
                    <span class="goods-item-img">
                        <img src="images/goods-item-img-2.jpg" alt="">
                    </span>
                    <span class="goods-item-title">GPS Topcon GR-3</span>
                    <span class="goods-item-price">
                        <span class="goods-item-price-now">369120 .-</span>
                        <span class="goods-item-price-old"></span>
                    </span>
                    <span class="goods-item-subdescr">
                        <span>Частота передачи данных - 100 Гц;</span>
                        <span>Типичная точность измерения - ±45 мм;</span>
                    </span>
                </span>
            </a>
        </div>
        <div class="goods-item action">
            <a href="#">
                <span class="goods-item-wrap">
                    <span class="goods-item-img">
                        <img src="images/goods-item-img-1.jpg" alt="">
                    </span>
                    <span class="goods-item-title">GPS Topcon GR-3</span>
                    <span class="goods-item-price">
                        <span class="goods-item-price-now">369120 .-</span>
                        <span class="goods-item-price-old"></span>
                    </span>
                    <span class="goods-item-subdescr">
                        <span>Частота передачи данных - 100 Гц;</span>
                        <span>Типичная точность измерения - ±45 мм;</span>
                    </span>
                </span>
            </a>
        </div>
        <div class="goods-item">
            <a href="#">
                <span class="goods-item-wrap">
                    <span class="goods-item-img">
                        <img src="images/goods-item-img-2.jpg" alt="">
                    </span>
                    <span class="goods-item-title">GPS Topcon GR-3</span>
                    <span class="goods-item-price">
                        <span class="goods-item-price-now">369120 .-</span>
                        <span class="goods-item-price-old"></span>
                    </span>
                    <span class="goods-item-subdescr">
                        <span>Частота передачи данных - 100 Гц;</span>
                        <span>Типичная точность измерения - ±45 мм;</span>
                    </span>
                </span>
            </a>
        </div>
        <div class="goods-item">
            <a href="#">
                <span class="goods-item-wrap">
                    <span class="goods-item-img">
                        <img src="images/goods-item-img-1.jpg" alt="">
                    </span>
                    <span class="goods-item-title">GPS Topcon GR-3</span>
                    <span class="goods-item-price">
                        <span class="goods-item-price-now action">369120 .-</span>
                        <span class="goods-item-price-old">450900 .-</span>
                    </span>
                    <span class="goods-item-subdescr">
                        <span>Частота передачи данных - 100 Гц;</span>
                        <span>Типичная точность измерения - ±45 мм;</span>
                    </span>
                </span>
            </a>
        </div>
        <div class="goods-item">
            <a href="#">
                <span class="goods-item-wrap">
                    <span class="goods-item-img">
                        <img src="images/goods-item-img-2.jpg" alt="">
                    </span>
                    <span class="goods-item-title">GPS Topcon GR-3</span>
                    <span class="goods-item-price">
                        <span class="goods-item-price-now">369120 .-</span>
                        <span class="goods-item-price-old"></span>
                    </span>
                    <span class="goods-item-subdescr">
                        <span>Частота передачи данных - 100 Гц;</span>
                        <span>Типичная точность измерения - ±45 мм;</span>
                    </span>
                </span>
            </a>
        </div>
        <div class="goods-item">
            <a href="#">
                <span class="goods-item-wrap">
                    <span class="goods-item-img">
                        <img src="images/goods-item-img-1.jpg" alt="">
                    </span>
                    <span class="goods-item-title">GPS Topcon GR-3</span>
                    <span class="goods-item-price">
                        <span class="goods-item-price-now">369120 .-</span>
                        <span class="goods-item-price-old"></span>
                    </span>
                    <span class="goods-item-subdescr">
                        <span>Частота передачи данных - 100 Гц;</span>
                        <span>Типичная точность измерения - ±45 мм;</span>
                    </span>
                </span>
            </a>
        </div>
        <div class="goods-item">
            <a href="#">
                <span class="goods-item-wrap">
                    <span class="goods-item-img">
                        <img src="images/goods-item-img-2.jpg" alt="">
                    </span>
                    <span class="goods-item-title">GPS Topcon GR-3</span>
                    <span class="goods-item-price">
                        <span class="goods-item-price-now">369120 .-</span>
                        <span class="goods-item-price-old"></span>
                    </span>
                    <span class="goods-item-subdescr">
                        <span>Частота передачи данных - 100 Гц;</span>
                        <span>Типичная точность измерения - ±45 мм;</span>
                    </span>
                </span>
            </a>
        </div>
        <!-- function showMoreCatalog() -->
        <div class="show-more" data-id="1">
            <div class="show-more-wrap">
                <div class="show-more-triangle"></div>
                <div class="show-more-text">
                    <span>Показать ещё 20</span>
                </div>
            </div>
        </div>
    </div>
</div>