<div class="ceotext">
    <div class="mbox">
        <div class="title grey">
            <h5>О компании</h5>
        </div>
    </div>
    <div class="ceotext-wrap">
        <div class="mbox">
            <p>Интернет магазин геодезических приборов компании "РУСГЕОКОМ" рад приветствовать вас. Мы предлагаем вам широкий ассортимент высокотехнологичной продукции всемирно известных производителей.</p>
            <p>Продажа геодезических приборов – только часть комплекса обеспечения геодезических отделов и служб, снабженческих организаций и непосредственно геодезистов, включающая поставку широкого спектра геодезической техники и комплектующих: лазерных сканеров, тахеометров, спутниковых геодезических приемников, нивелиров, теодолитов, лазерных уровней, лазерных дальномеров, трассопоисковых систем (трассоискателей) и многого другого. Это еще и целый комплекс сопутствующих услуг, таких как аренда геодезических приборов, поверка геодезического оборудования, а также сервисное обслуживание (диагностика, профилактика и ремонт геодезических приборов), включающее также и обучение работе с ними.</p>
            <p>Электронный тахеометр производит измерения любых углов и расстояний, используя встроенное программное обеспечение, решает многие полевые задачи, результаты которых хранятся на в   строенном запоминающем устройстве.Говоря, например, только лишь об измерении углов, когда использовать тахеометр нецелесообразно, вполне оправданно использование оптического теодолита или электронного теодолита. При необходимости точного определения разности высот между точками будет эффективным нивелир. При чем, в зави,симости от необходимой точности и условий (области) выполнения подобных работ это могут быть оптический нивелир, цифровой нивелир и лазерный нивелир.</p>
            <p>В случае особых условий проведения полевых геодезических работ с высокой производительностью – в темное время суток ли, при отсутствии наличия прямой видимости между съемочными пунктами – находят свое применение спутниковые геодезические приемники. В сфере геодезии GPS и ГЛОНАСС, все чаще именуемые нераздельно не иначе как GNSS. Геодезические приемники GPS активно используются на этапах проектировании строительства, в межевании, при выполнении </p>
        </div>
    </div>
</div>