<div class="contacts-map">
    <div id="map">

        <img src="images/map.jpg" alt="">
    </div>

    <div class="mbox">
            <p><b>от ст. м. "Бабушкинская" пешком 15 минут:</b></p>
            <p>Первый вагон из центра, выход из метро направо, выход на улицу направо. Далее идите по улице Менжинского. По пути вы увидите кинотеатр
        "Орион", Бабушкинский ПКиО и кинотеатр "Арктика" на реставрации. Дойдя до "Арктики", вы окажетесь на перекрестке ул. Менжинского
         и ул. Коминтерна. Поверните направо, идите по ул. Коминтерна. Между домами №7 и №5 поверните в переулок. Вы увидите оранжевый
         козырек с надписью "Теплопроект".</p>
    </div>
</div>