<div class="contacts-info">

    <div class="title">
        <h2>Контакты ООО "Русгеоком"</h2>
    </div>

    <div class="contacts-info-main">

        <div class="contacts-info-wrap">
            <a href="callto:4956040000">
                <span class="contacts-info-icon">
                    <img src="images/contacts-info-tel.png" alt="" />
                </span>
                <span class="contacts-info-text">(495) 604-00-00</span>
            </a>
        </div>
        <div class="contacts-info-wrap">
            <a href="mailto:info@rusgeocom.ru">
                <span class="contacts-info-icon">
                    <img src="images/contacts-info-mail.png" alt="" />
                </span>
                <span class="contacts-info-text">info@rusgeocom.ru</span>
            </a>
        </div>

    </div>

    <div class="contacts-info-content">
        <p>Мы работаем по будням, с 9:00 до 18:00 без перерыва на обед.</p>
        <p>129327, г. Москва, ул. Коминтерна, д. 7, корп. 2</p>
        <p>ИНН 7716540377 / ОГРН 1057749697444</p>
    </div>

    <div class="contacts-info-adress">

        <div class="contacts-info-adress-line">
            <span class="contacts-info-adress-text">Адреса магазинов в </span>
            <div class="contacts-info-select-list">
                <div class="contacts-info-select-list-text"></div>
                <div class="contacts-info-select-list-wrap">
                    <ul>
                        <li data-town="Moskow">Москве</li>
                        <li data-town="Omsk">Омске</li>
                        <li data-town="Zadripinsk">Задрипинске</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="contacts-info-adress-tabs">

            <div class="contacts-info-adress-tab-item" data-town="Moskow">
                <div class="contacts-info-adress-tab-item-wrap">
                    <div class="contacts-info-tab-icon">
                        <img src="images/contacts-info-point.png" alt="" />
                    </div>
                    <div class="contacts-info-tab-text">г. Москва, ул. Коминтерна, д. 7, корп. 2, офис 110</div>
                </div>
            </div>

            <div class="contacts-info-adress-tab-item" data-town="Omsk">
                <div class="contacts-info-adress-tab-item-wrap">
                    <div class="contacts-info-tab-icon">
                        <img src="images/contacts-info-point.png" alt="" />
                    </div>
                    <div class="contacts-info-tab-text">г. Москва, ул. Коминтерна, д. 7, корп. 2, офис 111</div>
                </div>
            </div>

            <div class="contacts-info-adress-tab-item" data-town="Zadripinsk">
                <div class="contacts-info-adress-tab-item-wrap">
                    <div class="contacts-info-tab-icon">
                        <img src="images/contacts-info-point.png" alt="" />
                    </div>
                    <div class="contacts-info-tab-text">г. Москва, ул. Коминтерна, д. 7, корп. 2, офис 112</div>
                </div>
            </div>

        </div>

    </div>

    <div class="contacts-info-form">

        <div class="title">
            <h4>Написать нам</h4>
        </div>

        <form class="contacts-form">
            <div class="form_row">
                <div class="form_input">
                    <input type="text" name="user_name" placeholder="Имя" required="required" />
                </div>
            </div>
            <div class="form_row">
                <div class="form_input">
                    <input type="text" name="user_tel_or_mail" placeholder="Телефон или email" required="required" />
                </div>
            </div>
            <div class="form_row">
                <div class="form_input">
                    <textarea name="user_message" placeholder="Cообщение"></textarea>
                </div>
            </div>
            <div class="form_row form_row_submit">
                <button class="button" type="submit">
                    <span>Отправить</span>
                </button>
            </div>
        </form>
    </div>

</div>