<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="mbox">
    <div class="footer-wrap">
        <div class="footer-row">
            <div class="footer-item">
                <div class="footer-title">
                    Компания
                </div>
                <div class="footer-list">
                    <ul>
                        <li><a href="#"><span>О компании</span></a></li>
                        <li><a href="#"><span>Сервисный центр</span></a></li>
                        <li><a href="#"><span>Лицензии</span></a></li>
                        <li><a href="#"><span>Спецработы</span></a></li>
                        <li><a href="#"><span>Отзывы</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-item">
                <div class="footer-title">
                    Информация
                </div>
                <div class="footer-list">
                    <ul>
                        <li><a href="#"><span>Статьи</span></a></li>
                        <li><a href="#"><span>новости</span></a></li>
                        <li><a href="#"><span>Файлы</span></a></li>
                        <li><a href="#"><span>Диллерам</span></a></li>
                        <li><a href="#"><span>Прайс лист</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-item">
                <div class="footer-title">
                    Услуги
                </div>
                <div class="footer-list">
                    <ul>
                        <li><a href="#"><span>Аренда</span></a></li>
                        <li><a href="#"><span>Ремонт</span></a></li>
                        <li><a href="#"><span>Поверка</span></a></li>
                        <li><a href="#"><span>Trade-in</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-item">
                <div class="footer-tel">
                    <a href="callto:84956040000">
                        <span>8 (495) 604-00-00</span>
                    </a>
                </div>
                <div class="footer-tel">
                    <a href="callto:88009005533">
                        <span>8 (800) 900-55-33</span>
                    </a>
                </div>
                <div class="footer-call">
                    <a href="#">
                        <span class="icon"></span>
                        <span>Перезвонить вам?</span>
                    </a>
                </div>
                <div class="footer-mail">
                    <a href="mailto:info@rusgeocom.ru"><span>info@rusgeocom.ru</span></a>
                </div>
                <div class="footer-button">
                    <a href="#">
                        <span>Оставить заявку</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-row">
            <div class="footer-item big">
                <!-- function ratingScript() -->
                <div class="footer_rating_wrap">
                    <span>Оцените качество обслуживания</span>
                    <form action="somefile.php">
                        <div class="form-item rating cfix">
                            <label><span class="form-input active"><input type="radio" name="star" value="1"><span class="radio-icon"></span></span></label>
                            <label><span class="form-input active"><input type="radio" name="star" value="2"><span class="radio-icon"></span></span></label>
                            <label><span class="form-input active"><input type="radio" name="star" value="3"><span class="radio-icon"></span></span></label>
                            <label><span class="form-input active"><input type="radio" name="star" value="4"><span class="radio-icon"></span></span></label>
                            <label><span class="form-input"><input type="radio" name="star" value="5"><span class="radio-icon"></span></span></label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="footer-item">
                <div class="footer-catalog">
                    <a href="#">
                        <span class="icon"></span>
                        <span>Каталог товаров</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="hr"></div>
        <div class="footer-row">
            <div class="footer-item">
                <div class="copy">
                    © 2014. рУСГЕОКОМ
                </div>
            </div>
            <div class="footer-item"></div>
            <div class="footer-item center">
                <a href="#">Заметили ошибку?</a>
            </div>
            <div class="footer-item">
                <div class="footer-other">
                    <div class="footer-map">
                        <a href="#">
                            <span class="icon"></span>
                            <span>Карта сайта</span>
                        </a>
                    </div>
                    <div class="footer-social">
                        <a href="#">
                            <img src="images/footer-social-1.png" alt="">
                        </a>
                        <a href="#">
                            <img src="images/footer-social-2.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>


<script type="text/javascript" src="js/validate_script.js" ></script>

<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.reel-min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery-ui.min.js" ></script>

<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/develop_1.js" ></script>
<script type="text/javascript" src="js/develop/develop_4.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->

