<div class="comment">
    <div class="title">
        <span>Коментарии</span>
        <!-- function rewiewPopup();
            validate('#rewievPopup form', {submitFunction:validationCall});
        -->
        <a href="#rewievPopup" class="comment_add">
            <img src="images/comment-done-button.png" alt="">
            <span>Написать отзыв</span>
        </a>
    </div>
    <div class="comment-content">
        <div class="comment-done">
            <div class="item">
                <div class="aside_left">
                    <div class="item-name">Светлана</div>
                    <div class="item-town">Новосибирск</div>
                    <div class="item-date">26.03.2016</div>
                </div>
                <div class="aside_right">
                    <div class="item-star">
                        <div class="star starFull"></div>
                        <div class="star starFull"></div>
                        <div class="star starFull"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                    </div>
                    <div class="item-test">
                        <p>Классный гриль, и мясо обалденно жарит и пластины сменные как нельзя кстати, поджарить овощи к мясу, на них и овощи жарить и бутерброды горячие тоже можно делать, быстро достаточно нагревается и мясо сочное и прожаренное выходит)))) ШИКАРНЫЙ ГРИЛЬ!!!!</p>
                    </div>
                    <div class="item-usefull">
                        <!-- function comentRewiew() -->
                        <div class="item-usefull-question">
                            Отзыв полезен?
                            <a href="#" class="item-usefull-true item-usefull-button" data-answer="true">Да</a>
                            <a href="#" class="item-usefull-false item-usefull-button" data-answer="false">Нет</a>
                        </div>
                        <div class="item-usefull-text">
                            2 человека считают этот отзыв полезным
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="aside_left">
                    <div class="item-name">Ксюша</div>
                    <div class="item-town">Томск</div>
                    <div class="item-date">25.03.2016</div>
                </div>
                <div class="aside_right">
                    <div class="item-star">
                        <div class="star starFull"></div>
                        <div class="star starFull"></div>
                        <div class="star starFull"></div>
                        <div class="star starFull"></div>
                        <div class="star starFull"></div>
                    </div>
                    <div class="item-test">
                        <p>Отличный гриль, купили с мужем на дачу, классный потому что мы и мясо на гриле хорошо и обалденно вкусно мммм... пожарили, и корочка вышла отличная и не сгорела. И потом еще делали горячие бутеры, а у нас на даче были друзья и поэтому делали сразу много, потом еще и помидоры жарили к мясу на плоских пластинах. Классно что это и гриль и плита, больше возможностей))))</p>
                    </div>
                    <div class="item-usefull">
                        <!-- function comentRewiew() -->
                        <div class="item-usefull-question">
                            Отзыв полезен?
                            <a href="#" class="item-usefull-true item-usefull-button" data-answer="true">Да</a>
                            <a href="#" class="item-usefull-false item-usefull-button" data-answer="false">Нет</a>
                        </div>
                        <div class="item-usefull-text">
                            6 человека считают этот отзыв полезным
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>