<div class="goods-slider">
    <div class="mbox">
        <div class="title">
            <h2>Аксессуары</h2>
        </div>
        <div class="goods-tab hav-tab">
                <div class="wrapper">
                    <div class="tabs">
                        <div class="tab">Все</div>
                        <div class="tab">Геодезические </div>
                        <div class="tab">Гомеопатические </div>
                        <div class="tab">Легкие приборы </div>
                        <div class="tab">Деградирующие </div>
                        <div class="tab">Адаптация к климату </div>
                    </div>
                    <div class="tabContent">
                        <div class="tabItem">
                            <div class="goods-items">
                                <div class="goods-item favorite">
                                    <a href="#">
                                        <span class="goods-item-wrap">
                                            <span class="goods-item-img">
                                                <img src="images/goods-item-img-1.jpg" alt="">
                                            </span>
                                            <span class="goods-item-title">GPS Topcon GR-3</span>
                                            <span class="goods-item-price">
                                                <span class="goods-item-price-now action">369120 .-</span>
                                                <span class="goods-item-price-old">450900 .-</span>
                                            </span>
                                            <span class="goods-item-subdescr">
                                                <span>Частота передачи данных - 100 Гц;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="goods-item">
                                    <a href="#">
                                        <span class="goods-item-wrap">
                                            <span class="goods-item-img">
                                                <img src="images/goods-item-img-2.jpg" alt="">
                                            </span>
                                            <span class="goods-item-title">GPS Topcon GR-3</span>
                                            <span class="goods-item-price">
                                                <span class="goods-item-price-now">369120 .-</span>
                                                <span class="goods-item-price-old"></span>
                                            </span>
                                            <span class="goods-item-subdescr">
                                                <span>Частота передачи данных - 100 Гц;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="goods-item action">
                                    <a href="#">
                                        <span class="goods-item-wrap">
                                            <span class="goods-item-img">
                                                <img src="images/goods-item-img-1.jpg" alt="">
                                            </span>
                                            <span class="goods-item-title">GPS Topcon GR-3</span>
                                            <span class="goods-item-price">
                                                <span class="goods-item-price-now">369120 .-</span>
                                                <span class="goods-item-price-old"></span>
                                            </span>
                                            <span class="goods-item-subdescr">
                                                <span>Частота передачи данных - 100 Гц;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="goods-item">
                                    <a href="#">
                                        <span class="goods-item-wrap">
                                            <span class="goods-item-img">
                                                <img src="images/goods-item-img-2.jpg" alt="">
                                            </span>
                                            <span class="goods-item-title">GPS Topcon GR-3</span>
                                            <span class="goods-item-price">
                                                <span class="goods-item-price-now">369120 .-</span>
                                                <span class="goods-item-price-old"></span>
                                            </span>
                                            <span class="goods-item-subdescr">
                                                <span>Частота передачи данных - 100 Гц;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="goods-item favorite">
                                    <a href="#">
                                        <span class="goods-item-wrap">
                                            <span class="goods-item-img">
                                                <img src="images/goods-item-img-1.jpg" alt="">
                                            </span>
                                            <span class="goods-item-title">GPS Topcon GR-3</span>
                                            <span class="goods-item-price">
                                                <span class="goods-item-price-now action">369120 .-</span>
                                                <span class="goods-item-price-old">450900 .-</span>
                                            </span>
                                            <span class="goods-item-subdescr">
                                                <span>Частота передачи данных - 100 Гц;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="goods-item">
                                    <a href="#">
                                        <span class="goods-item-wrap">
                                            <span class="goods-item-img">
                                                <img src="images/goods-item-img-2.jpg" alt="">
                                            </span>
                                            <span class="goods-item-title">GPS Topcon GR-3</span>
                                            <span class="goods-item-price">
                                                <span class="goods-item-price-now">369120 .-</span>
                                                <span class="goods-item-price-old"></span>
                                            </span>
                                            <span class="goods-item-subdescr">
                                                <span>Частота передачи данных - 100 Гц;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="goods-item action">
                                    <a href="#">
                                        <span class="goods-item-wrap">
                                            <span class="goods-item-img">
                                                <img src="images/goods-item-img-1.jpg" alt="">
                                            </span>
                                            <span class="goods-item-title">GPS Topcon GR-3</span>
                                            <span class="goods-item-price">
                                                <span class="goods-item-price-now">369120 .-</span>
                                                <span class="goods-item-price-old"></span>
                                            </span>
                                            <span class="goods-item-subdescr">
                                                <span>Частота передачи данных - 100 Гц;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="goods-item">
                                    <a href="#">
                                        <span class="goods-item-wrap">
                                            <span class="goods-item-img">
                                                <img src="images/goods-item-img-2.jpg" alt="">
                                            </span>
                                            <span class="goods-item-title">GPS Topcon GR-3</span>
                                            <span class="goods-item-price">
                                                <span class="goods-item-price-now">369120 .-</span>
                                                <span class="goods-item-price-old"></span>
                                            </span>
                                            <span class="goods-item-subdescr">
                                                <span>Частота передачи данных - 100 Гц;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tabItem">
                            <div class="goods-items">
                                <div class="goods-item favorite">
                                    <a href="#">
                                        <span class="goods-item-wrap">
                                            <span class="goods-item-img">
                                                <img src="images/goods-item-img-1.jpg" alt="">
                                            </span>
                                            <span class="goods-item-title">GPS Topcon GR-3</span>
                                            <span class="goods-item-price">
                                                <span class="goods-item-price-now action">369120 .-</span>
                                                <span class="goods-item-price-old">450900 .-</span>
                                            </span>
                                            <span class="goods-item-subdescr">
                                                <span>Частота передачи данных - 100 Гц;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="goods-item">
                                    <a href="#">
                                        <span class="goods-item-wrap">
                                            <span class="goods-item-img">
                                                <img src="images/goods-item-img-2.jpg" alt="">
                                            </span>
                                            <span class="goods-item-title">GPS Topcon GR-3</span>
                                            <span class="goods-item-price">
                                                <span class="goods-item-price-now">369120 .-</span>
                                                <span class="goods-item-price-old"></span>
                                            </span>
                                            <span class="goods-item-subdescr">
                                                <span>Частота передачи данных - 100 Гц;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="goods-item action">
                                    <a href="#">
                                        <span class="goods-item-wrap">
                                            <span class="goods-item-img">
                                                <img src="images/goods-item-img-1.jpg" alt="">
                                            </span>
                                            <span class="goods-item-title">GPS Topcon GR-3</span>
                                            <span class="goods-item-price">
                                                <span class="goods-item-price-now">369120 .-</span>
                                                <span class="goods-item-price-old"></span>
                                            </span>
                                            <span class="goods-item-subdescr">
                                                <span>Частота передачи данных - 100 Гц;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="goods-item">
                                    <a href="#">
                                        <span class="goods-item-wrap">
                                            <span class="goods-item-img">
                                                <img src="images/goods-item-img-2.jpg" alt="">
                                            </span>
                                            <span class="goods-item-title">GPS Topcon GR-3</span>
                                            <span class="goods-item-price">
                                                <span class="goods-item-price-now">369120 .-</span>
                                                <span class="goods-item-price-old"></span>
                                            </span>
                                            <span class="goods-item-subdescr">
                                                <span>Частота передачи данных - 100 Гц;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tabItem">
                            <div class="goods-items">
                                <div class="goods-item">
                                    <a href="#">
                                        <span class="goods-item-wrap">
                                            <span class="goods-item-img">
                                                <img src="images/goods-item-img-2.jpg" alt="">
                                            </span>
                                            <span class="goods-item-title">GPS Topcon GR-3</span>
                                            <span class="goods-item-price">
                                                <span class="goods-item-price-now">369120 .-</span>
                                                <span class="goods-item-price-old"></span>
                                            </span>
                                            <span class="goods-item-subdescr">
                                                <span>Частота передачи данных - 100 Гц;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="goods-item action">
                                    <a href="#">
                                        <span class="goods-item-wrap">
                                            <span class="goods-item-img">
                                                <img src="images/goods-item-img-1.jpg" alt="">
                                            </span>
                                            <span class="goods-item-title">GPS Topcon GR-3</span>
                                            <span class="goods-item-price">
                                                <span class="goods-item-price-now">369120 .-</span>
                                                <span class="goods-item-price-old"></span>
                                            </span>
                                            <span class="goods-item-subdescr">
                                                <span>Частота передачи данных - 100 Гц;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="goods-item">
                                    <a href="#">
                                        <span class="goods-item-wrap">
                                            <span class="goods-item-img">
                                                <img src="images/goods-item-img-2.jpg" alt="">
                                            </span>
                                            <span class="goods-item-title">GPS Topcon GR-3</span>
                                            <span class="goods-item-price">
                                                <span class="goods-item-price-now">369120 .-</span>
                                                <span class="goods-item-price-old"></span>
                                            </span>
                                            <span class="goods-item-subdescr">
                                                <span>Частота передачи данных - 100 Гц;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tabItem">
                            <div class="goods-items">
                                <div class="goods-item favorite">
                                    <a href="#">
                                        <span class="goods-item-wrap">
                                            <span class="goods-item-img">
                                                <img src="images/goods-item-img-1.jpg" alt="">
                                            </span>
                                            <span class="goods-item-title">GPS Topcon GR-3</span>
                                            <span class="goods-item-price">
                                                <span class="goods-item-price-now action">369120 .-</span>
                                                <span class="goods-item-price-old">450900 .-</span>
                                            </span>
                                            <span class="goods-item-subdescr">
                                                <span>Частота передачи данных - 100 Гц;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="goods-item">
                                    <a href="#">
                                        <span class="goods-item-wrap">
                                            <span class="goods-item-img">
                                                <img src="images/goods-item-img-2.jpg" alt="">
                                            </span>
                                            <span class="goods-item-title">GPS Topcon GR-3</span>
                                            <span class="goods-item-price">
                                                <span class="goods-item-price-now">369120 .-</span>
                                                <span class="goods-item-price-old"></span>
                                            </span>
                                            <span class="goods-item-subdescr">
                                                <span>Частота передачи данных - 100 Гц;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="goods-item">
                                    <a href="#">
                                        <span class="goods-item-wrap">
                                            <span class="goods-item-img">
                                                <img src="images/goods-item-img-2.jpg" alt="">
                                            </span>
                                            <span class="goods-item-title">GPS Topcon GR-3</span>
                                            <span class="goods-item-price">
                                                <span class="goods-item-price-now">369120 .-</span>
                                                <span class="goods-item-price-old"></span>
                                            </span>
                                            <span class="goods-item-subdescr">
                                                <span>Частота передачи данных - 100 Гц;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tabItem">
                            <div class="goods-items">
                                <div class="goods-item favorite">
                                    <a href="#">
                                        <span class="goods-item-wrap">
                                            <span class="goods-item-img">
                                                <img src="images/goods-item-img-1.jpg" alt="">
                                            </span>
                                            <span class="goods-item-title">GPS Topcon GR-3</span>
                                            <span class="goods-item-price">
                                                <span class="goods-item-price-now action">369120 .-</span>
                                                <span class="goods-item-price-old">450900 .-</span>
                                            </span>
                                            <span class="goods-item-subdescr">
                                                <span>Частота передачи данных - 100 Гц;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="goods-item">
                                    <a href="#">
                                        <span class="goods-item-wrap">
                                            <span class="goods-item-img">
                                                <img src="images/goods-item-img-2.jpg" alt="">
                                            </span>
                                            <span class="goods-item-title">GPS Topcon GR-3</span>
                                            <span class="goods-item-price">
                                                <span class="goods-item-price-now">369120 .-</span>
                                                <span class="goods-item-price-old"></span>
                                            </span>
                                            <span class="goods-item-subdescr">
                                                <span>Частота передачи данных - 100 Гц;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="goods-item action">
                                    <a href="#">
                                        <span class="goods-item-wrap">
                                            <span class="goods-item-img">
                                                <img src="images/goods-item-img-1.jpg" alt="">
                                            </span>
                                            <span class="goods-item-title">GPS Topcon GR-3</span>
                                            <span class="goods-item-price">
                                                <span class="goods-item-price-now">369120 .-</span>
                                                <span class="goods-item-price-old"></span>
                                            </span>
                                            <span class="goods-item-subdescr">
                                                <span>Частота передачи данных - 100 Гц;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="goods-item">
                                    <a href="#">
                                        <span class="goods-item-wrap">
                                            <span class="goods-item-img">
                                                <img src="images/goods-item-img-2.jpg" alt="">
                                            </span>
                                            <span class="goods-item-title">GPS Topcon GR-3</span>
                                            <span class="goods-item-price">
                                                <span class="goods-item-price-now">369120 .-</span>
                                                <span class="goods-item-price-old"></span>
                                            </span>
                                            <span class="goods-item-subdescr">
                                                <span>Частота передачи данных - 100 Гц;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="goods-item">
                                    <a href="#">
                                        <span class="goods-item-wrap">
                                            <span class="goods-item-img">
                                                <img src="images/goods-item-img-2.jpg" alt="">
                                            </span>
                                            <span class="goods-item-title">GPS Topcon GR-3</span>
                                            <span class="goods-item-price">
                                                <span class="goods-item-price-now">369120 .-</span>
                                                <span class="goods-item-price-old"></span>
                                            </span>
                                            <span class="goods-item-subdescr">
                                                <span>Частота передачи данных - 100 Гц;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="goods-item">
                                    <a href="#">
                                        <span class="goods-item-wrap">
                                            <span class="goods-item-img">
                                                <img src="images/goods-item-img-2.jpg" alt="">
                                            </span>
                                            <span class="goods-item-title">GPS Topcon GR-3</span>
                                            <span class="goods-item-price">
                                                <span class="goods-item-price-now">369120 .-</span>
                                                <span class="goods-item-price-old"></span>
                                            </span>
                                            <span class="goods-item-subdescr">
                                                <span>Частота передачи данных - 100 Гц;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tabItem">
                            <div class="goods-items">
                                <div class="goods-item favorite">
                                    <a href="#">
                                        <span class="goods-item-wrap">
                                            <span class="goods-item-img">
                                                <img src="images/goods-item-img-1.jpg" alt="">
                                            </span>
                                            <span class="goods-item-title">GPS Topcon GR-3</span>
                                            <span class="goods-item-price">
                                                <span class="goods-item-price-now action">369120 .-</span>
                                                <span class="goods-item-price-old">450900 .-</span>
                                            </span>
                                            <span class="goods-item-subdescr">
                                                <span>Частота передачи данных - 100 Гц;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="goods-item">
                                    <a href="#">
                                        <span class="goods-item-wrap">
                                            <span class="goods-item-img">
                                                <img src="images/goods-item-img-2.jpg" alt="">
                                            </span>
                                            <span class="goods-item-title">GPS Topcon GR-3</span>
                                            <span class="goods-item-price">
                                                <span class="goods-item-price-now">369120 .-</span>
                                                <span class="goods-item-price-old"></span>
                                            </span>
                                            <span class="goods-item-subdescr">
                                                <span>Частота передачи данных - 100 Гц;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="goods-item action">
                                    <a href="#">
                                        <span class="goods-item-wrap">
                                            <span class="goods-item-img">
                                                <img src="images/goods-item-img-1.jpg" alt="">
                                            </span>
                                            <span class="goods-item-title">GPS Topcon GR-3</span>
                                            <span class="goods-item-price">
                                                <span class="goods-item-price-now">369120 .-</span>
                                                <span class="goods-item-price-old"></span>
                                            </span>
                                            <span class="goods-item-subdescr">
                                                <span>Частота передачи данных - 100 Гц;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="goods-item">
                                    <a href="#">
                                        <span class="goods-item-wrap">
                                            <span class="goods-item-img">
                                                <img src="images/goods-item-img-2.jpg" alt="">
                                            </span>
                                            <span class="goods-item-title">GPS Topcon GR-3</span>
                                            <span class="goods-item-price">
                                                <span class="goods-item-price-now">369120 .-</span>
                                                <span class="goods-item-price-old"></span>
                                            </span>
                                            <span class="goods-item-subdescr">
                                                <span>Частота передачи данных - 100 Гц;</span>
                                                <span>Типичная точность измерения - ±45 мм;</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>