<div class="breadcrumbs">
    <ul>
        <li><a href="/"><span class="icon icon-g"></span> <span>РУСГЕОКОМ</span></a></li>
        <li><a href="/"><span>Электронные тахеометры</span></a></li>
        <li><a href="/"><span>Тахеометры LEICA</span></a></li>
    </ul>

    <span>Артикул: 5977886</span>
</div>

<div class="goods-detail hav-tab">
    <div class="goods-top">
        <div class="goods-left">
            <div class="mobile-show">
                <a href="#"></a>
                <div class="goods-title">
                    <h2>GNSS приемник Trimble R4 mega x-drive</h2>
                </div>
            </div>
            <div class="goods-big-slider">
                <div class="slider-for">
                    <div class="item">
                        <img src="images/goods-big-slider-img-1.png" alt="">
                    </div>
                    <div class="item">
                        <img src="images/gsubitem_img-1.png" alt="">
                    </div>
                    <div class="item">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/qJ_Tw0w3lLA" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="item">
                        <div id="button_3d">
                            <div class="button_3d_wrap">
                                <img src="images/3d/mini.jpg" width="200" height="200"
                                  class="reel"
                                  data-images="images/3d/mini/###.jpg"
                                  data-frames="20"
                                  data-frame="1"
                                  data-speed="0.0">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="images/subitem_img-1.png" alt="">
                    </div>
                    <div class="item">
                        <img src="images/subitem_img-2.png" alt="">
                    </div>
                </div>
                <div class="slider-nav">
                    <div class="item">
                        <img src="images/goods-big-slider-small-1.png" alt="">
                    </div>
                    <div class="item">
                        <img src="images/goods-big-slider-small-2.png" alt="">
                    </div>
                    <div class="item">
                        <img src="images/goods-big-slider-small-3.png" alt="">
                    </div>
                    <div class="item">
                        <img src="images/goods-big-slider-small-4.png" alt="">
                    </div>
                    <div class="item">
                        <img src="images/goods-big-slider-small-5.png" alt="">
                    </div>
                    <div class="item">
                        <img src="images/goods-big-slider-small-1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="goods-right">
            <div class="goods-title">
                <h2>GNSS приемник Trimble R4 mega x-drive</h2>
            </div>
            <div class="goods-title-mark">
                <img src="images/goods-title-mark.png" alt="">
            </div>
            <div class="goods-title-option">
                <a href="#serailPopup" class="button button-serial">
                    <span class="icon"></span>
                    <span>Выбрать опции</span>
                </a>
            </div>
            <div class="goods-price">
                <b>788 099 .-</b>
                <span>985 050 .-</span>
            </div>
            <div class="goods-button">
                <a href="#" class="button goods-bascket" >
                    <span class="icon icon-bascket"></span>
                    <span>В корзину</span>
                </a>
                <a href="#" class="button goods-click">
                    <span>Купить в 1 клик</span>
                </a>
            </div>
            <div class="goods-track">
                <div class="goods-track-row">
                    <div class="goods-track-item"><img src="images/goods-track-item-1.png" alt=""></div>
                    <div class="goods-track-item">Самовывоз</div>
                    <div class="goods-track-item">бесплатно</div>
                </div>
                <div class="goods-track-row">
                    <div class="goods-track-item"><img src="images/goods-track-item-2.png" alt=""></div>
                    <div class="goods-track-item">Доставка</div>
                    <div class="goods-track-item">по Москве - 300.-  по России - от 300.-</div>
                </div>
            </div>

        </div>
    </div>
    <div class="goods-bottom">
        <div class="goods-tab">
            <div class="wrapper">
                <div class="tabs">
                    <div class="tab">Описание</div>
                    <div class="tab">Аксессуары <span>9</span></div>
                    <div class="tab">Отзывы <span>12</span></div>
                </div>
                <div class="tabContent">
                    <div class="tabItem">
                        <div class="big-tab hav-tab">
                            <div class="goods-title">
                                GNSS приемник Trimble R4 mega x-drive geokorol
                            </div>
                            <div class="goods-desc">
                                <p>GNSS приемник Trimble R4 представляет собой многочастотный мультиканальный приемник ГНСС, сконструированный на базе чипа Maxwell 6, и предназначен для отслеживания и обработки сигналов со спутников навигационных систем и получения координат.
                                Trimble R4 имеет моноблочную конструкцию и выполнен в герметичном корпусе с интегрированной антенной, Bluetooth-модулем, встроенной батареей питания и модемом. Прибор подходит для выполнения топографической съёмки в ходе геодезических изысканий и позволяет осуществлять разбивку и исполнительную съемку в строительстве.</p>
                            </div>
                            <div class="goods-title">
                                Технические характеристики
                            </div>
                            <div class="wrapper tab-small">
                                <div class="tabs">
                                    <div class="tab">Краткие</div>
                                    <div class="tab">Все характеристики</div>
                                </div>
                                <div class="tabContent">
                                    <div class="tabItem">
                                        <div class="goods-table">
                                            <div class="goods-table-main">
                                                <div class="goods-table-title">Дифференциальное позиционирование по коду2</div>
                                                <div class="goods-table-wrap">
                                                    <div class="goods-table-row">
                                                        <div class="goods-table-item">
                                                            <p><span>В плане</span></p>
                                                        </div>
                                                        <div class="goods-table-item">
                                                            <p>± 0,25 м + 1 мм/км СКО</p>
                                                        </div>
                                                    </div>
                                                    <div class="goods-table-row">
                                                        <div class="goods-table-item">
                                                            <p><span>По высоте</span></p>
                                                        </div>
                                                        <div class="goods-table-item">
                                                            <p>± 0,50 м + 1 мм/км СКО</p>
                                                        </div>
                                                    </div>
                                                    <div class="goods-table-row">
                                                        <div class="goods-table-item">
                                                            <p><span>Точность дифференциального позиционирования SBAS2</span></p>
                                                        </div>
                                                        <div class="goods-table-item">
                                                            <span> обычно < 5 м (3 СКО) </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="goods-table-main">
                                                <div class="goods-table-title">Высокоточная статическая-съемка2</div>
                                                <div class="goods-table-wrap">
                                                    <div class="goods-table-row">
                                                        <div class="goods-table-item">
                                                            <p><span>В плане</span></p>
                                                        </div>
                                                        <div class="goods-table-item">
                                                            <p>± 0,25 м + 1 мм/км СКО</p>
                                                        </div>
                                                    </div>
                                                    <div class="goods-table-row">
                                                        <div class="goods-table-item">
                                                            <p><span>По высоте</span></p>
                                                        </div>
                                                        <div class="goods-table-item">
                                                            <p>± 0,50 м + 1 мм/км СКО</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="goods-table-main">
                                                <div class="goods-table-title">Статическая и быстростатическая GNSS-съемка2</div>
                                                <div class="goods-table-wrap">
                                                    <div class="goods-table-row">
                                                        <div class="goods-table-item">
                                                            <p><span>В плане</span></p>
                                                        </div>
                                                        <div class="goods-table-item">
                                                            <p>± 0,25 м + 1 мм/км СКО</p>
                                                        </div>
                                                    </div>
                                                    <div class="goods-table-row">
                                                        <div class="goods-table-item">
                                                            <p><span>По высоте</span></p>
                                                        </div>
                                                        <div class="goods-table-item">
                                                            <p>± 0,50 м + 1 мм/км СКО</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tabItem">
                                        <div class="goods-table">
                                            <div class="goods-table-main">
                                                <div class="goods-table-title">Дифференциальное позиционирование по коду2</div>
                                                <div class="goods-table-wrap">
                                                    <div class="goods-table-row">
                                                        <div class="goods-table-item">
                                                            <p><span>В плане</span></p>
                                                        </div>
                                                        <div class="goods-table-item">
                                                            <p>± 0,25 м + 1 мм/км СКО</p>
                                                        </div>
                                                    </div>
                                                    <div class="goods-table-row">
                                                        <div class="goods-table-item">
                                                            <p><span>По высоте</span></p>
                                                        </div>
                                                        <div class="goods-table-item">
                                                            <p>± 0,50 м + 1 мм/км СКО</p>
                                                        </div>
                                                    </div>
                                                    <div class="goods-table-row">
                                                        <div class="goods-table-item">
                                                            <p><span>Точность дифференциального позиционирования SBAS2</span></p>
                                                        </div>
                                                        <div class="goods-table-item">
                                                            <span> обычно < 5 м (3 СКО) </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="goods-table-main">
                                                <div class="goods-table-title">Высокоточная статическая-съемка2</div>
                                                <div class="goods-table-wrap">
                                                    <div class="goods-table-row">
                                                        <div class="goods-table-item">
                                                            <p><span>В плане</span></p>
                                                        </div>
                                                        <div class="goods-table-item">
                                                            <p>± 0,25 м + 1 мм/км СКО</p>
                                                        </div>
                                                    </div>
                                                    <div class="goods-table-row">
                                                        <div class="goods-table-item">
                                                            <p><span>По высоте</span></p>
                                                        </div>
                                                        <div class="goods-table-item">
                                                            <p>± 0,50 м + 1 мм/км СКО</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="goods-table-main">
                                                <div class="goods-table-title">Статическая и быстростатическая GNSS-съемка2</div>
                                                <div class="goods-table-wrap">
                                                    <div class="goods-table-row">
                                                        <div class="goods-table-item">
                                                            <p><span>В плане</span></p>
                                                        </div>
                                                        <div class="goods-table-item">
                                                            <p>± 0,25 м + 1 мм/км СКО</p>
                                                        </div>
                                                    </div>
                                                    <div class="goods-table-row">
                                                        <div class="goods-table-item">
                                                            <p><span>По высоте</span></p>
                                                        </div>
                                                        <div class="goods-table-item">
                                                            <p>± 0,50 м + 1 мм/км СКО</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="goods-table-main">
                                                <div class="goods-table-title">Дифференциальное позиционирование по коду2</div>
                                                <div class="goods-table-wrap">
                                                    <div class="goods-table-row">
                                                        <div class="goods-table-item">
                                                            <p><span>В плане</span></p>
                                                        </div>
                                                        <div class="goods-table-item">
                                                            <p>± 0,25 м + 1 мм/км СКО</p>
                                                        </div>
                                                    </div>
                                                    <div class="goods-table-row">
                                                        <div class="goods-table-item">
                                                            <p><span>По высоте</span></p>
                                                        </div>
                                                        <div class="goods-table-item">
                                                            <p>± 0,50 м + 1 мм/км СКО</p>
                                                        </div>
                                                    </div>
                                                    <div class="goods-table-row">
                                                        <div class="goods-table-item">
                                                            <p><span>Точность дифференциального позиционирования SBAS2</span></p>
                                                        </div>
                                                        <div class="goods-table-item">
                                                            <span> обычно < 5 м (3 СКО) </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="goods-table-main">
                                                <div class="goods-table-title">Высокоточная статическая-съемка2</div>
                                                <div class="goods-table-wrap">
                                                    <div class="goods-table-row">
                                                        <div class="goods-table-item">
                                                            <p><span>В плане</span></p>
                                                        </div>
                                                        <div class="goods-table-item">
                                                            <p>± 0,25 м + 1 мм/км СКО</p>
                                                        </div>
                                                    </div>
                                                    <div class="goods-table-row">
                                                        <div class="goods-table-item">
                                                            <p><span>По высоте</span></p>
                                                        </div>
                                                        <div class="goods-table-item">
                                                            <p>± 0,50 м + 1 мм/км СКО</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="goods-table-main">
                                                <div class="goods-table-title">Статическая и быстростатическая GNSS-съемка2</div>
                                                <div class="goods-table-wrap">
                                                    <div class="goods-table-row">
                                                        <div class="goods-table-item">
                                                            <p><span>В плане</span></p>
                                                        </div>
                                                        <div class="goods-table-item">
                                                            <p>± 0,25 м + 1 мм/км СКО</p>
                                                        </div>
                                                    </div>
                                                    <div class="goods-table-row">
                                                        <div class="goods-table-item">
                                                            <p><span>По высоте</span></p>
                                                        </div>
                                                        <div class="goods-table-item">
                                                            <p>± 0,50 м + 1 мм/км СКО</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tabItem">
                        //= goods-aksesuar.html
                    </div>
                    <div class="tabItem">
                        //= goods-otzisv.html
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>