<div class="comment">
    <div class="title"><span>Коментарии</span></div>
    <div class="comment-content">
        <form action="ajax.php" name="" class="comment-form">
            <input type="hidden" value="" class="comment-form-hidden">
            <div class="form_row">
                <div class="form_input">
                    <label for="contact_name">*Имя</label>
                    <input type="text" name="contact_name" id="contact_name" required="required" value="">
                </div>
            </div>
            <div class="form_row">
                <div class="form_input">
                    <label for="contact_name">*Cообщение</label>
                    <textarea  name="conmment" id="comment" required="required" value=""></textarea>
                </div>
            </div>
            <div class="form_row submit-wrap">

                <button type="submit" class="contact-submit">
                    <span>Отправить</span>
                </button>

                <div class="message-wrap">
                    <!-- -->
                </div>

            </div>
        </form>
        <div class="comment-done">
            <div class="item">
                <b>Петр Петенька,<span>13 июня 2015 г. 14:55</span></b>
                <p>Заказал, все подошло. Спасибо за проделаную работу!</p>
            </div>
            <div class="item">
                <b>Петр Петенька,<span>13 июня 2015 г. 14:55</span></b>
                <p>Заказал, все подошло. Спасибо за проделаную работу!Заказал, все подошло. Спасибо за проделаную работу!Заказал, все подошло. Спасибо за проделаную работу!Заказал, все подошло. Спасибо за проделаную работу!Заказал, все подошло. Спасибо за проделаную работу!Заказал, все подошло. Спасибо за проделаную работу!Заказал, все подошло. Спасибо за проделаную работу!Заказал, все подошло. Спасибо за проделаную работу!Заказал, все подошло. Спасибо за проделаную работу!Заказал, все подошло. Спасибо за проделаную работу!</p>
            </div>
        </div>
    </div>
</div>