<ul class="header-filter">
    <li>
        <div class="catalog-filter">
            <div class="catalog-filter-item">
                <div class="catalog-filter-title">
                    Сканирующие системы
                </div>
                <div class="catalog-filter-link">
                    <ul>
                        <li><a href="#"><span>Topcon</span></a></li>
                        <li><a href="#"><span>Leica</span></a></li>
                        <li><a href="#"><span>Z+F</span></a></li>
                        <li><a href="#"><span>Trimble</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="catalog-filter-item filter-holder active">
                <div class="filter-form" id="filter-form">
                    <form action="">
                        <div class="filter-item active">
                            <div class="filter-item-title">
                                <span>Производство</span>
                            </div>
                            <div class="filter-item-container">
                                <div class="item">
                                    <label>
                                        <input type="checkbox" name="" id="" value="1">
                                        <span></span>
                                        <b>США</b>
                                        <i>8</i>
                                    </label>
                                </div>
                                <div class="item">
                                    <label>
                                        <input type="checkbox" name="" id="" value="1">
                                        <span></span>
                                        <b>США</b>
                                        <i>8</i>
                                    </label>
                                </div>
                                <div class="item">
                                    <label>
                                        <input type="checkbox" name="" id="" value="1">
                                        <span></span>
                                        <b>США</b>
                                        <i>8</i>
                                    </label>
                                </div>
                                <div class="item">
                                    <label>
                                        <input type="checkbox" name="" id="" value="1">
                                        <span></span>
                                        <b>США</b>
                                        <i>8</i>
                                    </label>
                                </div>
                                <div class="filter-show-more">
                                    <div class="filtrer-show-more-button">
                                        <span>Ещё <i>15</i></span>
                                    </div>
                                    <div class="item">
                                        <label>
                                            <input type="checkbox" name="" id="" value="1">
                                            <span></span>
                                            <b>США</b>
                                            <i>112</i>
                                        </label>
                                    </div>
                                    <div class="item">
                                        <label>
                                            <input type="checkbox" name="" id="" value="1">
                                            <span></span>
                                            <b>Россия</b>
                                            <i>23</i>
                                        </label>
                                    </div>
                                    <div class="item">
                                        <label>
                                            <input type="checkbox" name="" id="" value="1">
                                            <span></span>
                                            <b>Парагвай</b>
                                            <i>89</i>
                                        </label>
                                    </div>
                                    <div class="item">
                                        <label>
                                            <input type="checkbox" name="" id="" value="1">
                                            <span></span>
                                            <b>Россия</b>
                                            <i>8</i>
                                        </label>
                                    </div>
                                    <div class="item">
                                        <label>
                                            <input type="checkbox" name="" id="" value="1">
                                            <span></span>
                                            <b>США</b>
                                            <i>112</i>
                                        </label>
                                    </div>
                                    <div class="item">
                                        <label>
                                            <input type="checkbox" name="" id="" value="1">
                                            <span></span>
                                            <b>Россия</b>
                                            <i>23</i>
                                        </label>
                                    </div>
                                    <div class="item">
                                        <label>
                                            <input type="checkbox" name="" id="" value="1">
                                            <span></span>
                                            <b>Парагвай</b>
                                            <i>89</i>
                                        </label>
                                    </div>
                                    <div class="item">
                                        <label>
                                            <input type="checkbox" name="" id="" value="1">
                                            <span></span>
                                            <b>Россия</b>
                                            <i>8</i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filter-item active">
                            <div class="filter-item-title">
                                <span>Бренды</span>
                            </div>
                            <div class="filter-item-container">
                                <div class="item">
                                    <label>
                                        <input type="checkbox" name="" id="" value="1">
                                        <span></span>
                                        <b>RGK </b>
                                        <i>8</i>
                                    </label>
                                </div>
                                <div class="item">
                                    <label>
                                        <input type="checkbox" name="" id="" value="1">
                                        <span></span>
                                        <b>Testo </b>
                                        <i>14</i>
                                    </label>
                                </div>
                                <div class="item">
                                    <label>
                                        <input type="checkbox" name="" id="" value="1">
                                        <span></span>
                                        <b>Fluke</b>
                                        <i>21</i>
                                    </label>
                                </div>
                                <div class="item">
                                    <label>
                                        <input type="checkbox" name="" id="" value="1">
                                        <span></span>
                                        <b>Flir</b>
                                        <i>32</i>
                                    </label>
                                </div>
                                <div class="filter-show-more">
                                    <div class="filtrer-show-more-button">
                                        <span>Ещё <i>2</i></span>
                                    </div>
                                    <div class="item">
                                        <label>
                                            <input type="checkbox" name="" id="" value="1">
                                            <span></span>
                                            <b>США</b>
                                            <i>112</i>
                                        </label>
                                    </div>
                                    <div class="item">
                                        <label>
                                            <input type="checkbox" name="" id="" value="1">
                                            <span></span>
                                            <b>Россия</b>
                                            <i>23</i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filter-item active">
                            <div class="filter-item-title">
                                <span>Гарантия</span>
                            </div>
                            <div class="filter-item-container">
                                <div class="item">
                                    <label>
                                        <input type="checkbox" name="" id="" value="1">
                                        <span></span>
                                        <b>1 год</b>
                                        <i></i>
                                    </label>
                                </div>
                                <div class="item">
                                    <label>
                                        <input type="checkbox" name="" id="" value="1">
                                        <span></span>
                                        <b>3 годa</b>
                                        <i></i>
                                    </label>
                                </div>
                                <div class="item">
                                    <label>
                                        <input type="checkbox" name="" id="" value="1">
                                        <span></span>
                                        <b>2 год</b>
                                        <i></i>
                                    </label>
                                </div>
                                <div class="item">
                                    <label>
                                        <input type="checkbox" name="" id="" value="1">
                                        <span></span>
                                        <b>>4 лет</b>
                                        <i></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="filter-item active">
                            <div class="filter-item-title">
                                <span>Цена</span>
                            </div>
                            <div class="filter-item-container">
                                <div class="slider-price-wrap">
                                    <div id="slider-price-range" class="slider-price-range"></div>
                                    <input type="text" id="slider-price-amount" class="slider-price-amount" readonly data-min="1" data-max="10000" data-first="1000" data-last="6500">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </li>
    <li>
        <p>
            <a href="#">Геодезические приемники</a>
            <span></span>
        </p>
        <ul>
            <li>
                <a href="#">RGK</a>
            </li>
            <li>
                <a href="#">SOKKOL</a>
            </li>
            <li>
                <a href="#">Lukoil</a>
            </li>
            <li>
                <a href="#">Cmon Evevrybody</a>
            </li>
        </ul>
    </li>
    <li>
        <p>
            <a href="#">Электронные тахеометры</a>
            <span></span>
        </p>
        <ul>
            <li>
                <a href="#">RGK</a>
            </li>
            <li>
                <a href="#">SOKKOL</a>
            </li>
            <li>
                <a href="#">Lukoil</a>
            </li>
            <li>
                <a href="#">Cmon Evevrybody</a>
            </li>
        </ul>
    </li>
    <li>
        <p>
            <a href="#">Сканирующие системы</a>
            <span></span>
        </p>
        <ul>
            <li>
                <a href="#">RGK</a>
            </li>
            <li>
                <a href="#">SOKKOL</a>
            </li>
            <li>
                <a href="#">Lukoil</a>
            </li>
            <li>
                <a href="#">Cmon Evevrybody</a>
            </li>
        </ul>
    </li>
    <li>
        <p>
            <a href="#">Полевые контроллеры</a>
            <span></span>
        </p>
        <ul>
            <li>
                <a href="#">RGK</a>
            </li>
            <li>
                <a href="#">SOKKOL</a>
            </li>
            <li>
                <a href="#">Lukoil</a>
            </li>
            <li>
                <a href="#">Cmon Evevrybody</a>
            </li>
        </ul>
    </li>
    <li>
        <p>
            <a href="#">Электронные теодолиты</a>
            <span></span>
        </p>
        <ul>
            <li>
                <a href="#">RGK</a>
            </li>
            <li>
                <a href="#">SOKKOL</a>
            </li>
            <li>
                <a href="#">Lukoil</a>
            </li>
            <li>
                <a href="#">Cmon Evevrybody</a>
            </li>
        </ul>
    </li>
    <li>
        <p>
            <a href="#">Оптические теодолиты</a>
            <span></span>
        </p>
        <ul>
            <li>
                <a href="#">RGK</a>
            </li>
            <li>
                <a href="#">SOKKOL</a>
            </li>
            <li>
                <a href="#">Lukoil</a>
            </li>
            <li>
                <a href="#">Cmon Evevrybody</a>
            </li>
        </ul>
    </li>
    <li>
        <p>
            <a href="#">Оптические нивелиры</a>
            <span></span>
        </p>
        <ul>
            <li>
                <a href="#">RGK</a>
            </li>
            <li>
                <a href="#">SOKKOL</a>
            </li>
            <li>
                <a href="#">Lukoil</a>
            </li>
            <li>
                <a href="#">Cmon Evevrybody</a>
            </li>
        </ul>
    </li>
</ul>