<!-- HEADER -->
<header class="header">

    <!-- header-top -->
        <div class="header-top">
            <div class="mbox">

                <!-- header top wrap (slide menu on 320) -->
                    <div class="header-top-wrap">

                        <!-- header town -->
                            <div class="header-town">
                                <select name="header_town">
                                    <option value="Moskow1">Москва1</option>
                                    <option value="Moskow2">Москва2</option>
                                    <option value="Moskow3">Москва3</option>
                                </select>
                            </div>
                        <!-- /heder town -->

                        <!-- header nav -->
                            <div class="header-top-nav">
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="#">О Компании</a>
                                        </li>
                                        <li>
                                            <a href="#">Информация</a>
                                        </li>
                                        <li>
                                            <a href="#">Оплата</a>
                                        </li>
                                        <li>
                                            <a href="#">Доставка</a>
                                        </li>
                                        <li>
                                            <a href="#">Акции</a>
                                        </li>
                                        <li>
                                            <a href="#">Услуги</a>
                                        </li>
                                        <li>
                                            <a href="#">Контакты</a>
                                        </li>
                                    </ul>
                                </nav>

                                <!-- header nav more -->
                                    <div class="header-nav-more">
                                        <div class="header-nav-more-button">
                                            <span class="header-nav-more-button-title">Ещё</span>
                                            <span class="header-nav-more-button-arrow"></span>
                                        </div>
                                        <div class="header-nav-more-list">
                                            <ul></ul>
                                        </div>
                                    </div>
                                <!-- header nav more -->

                            </div>
                        <!-- header nav -->

                    </div>
                <!-- /header top wrap (slide menu on 320) -->

                <!-- header sendwich -->
                    <div class="sendwich">
                        <div class="sendwich-wrap">
                            <span></span>
                        </div>
                    </div>
                <!-- /header sendwich -->

                <!-- header user/loginization -->
                    <div class="header-login">

                        <!-- user loginization -->
                            <div class="header-loginization">
                                <div class="header-loginization-icon">
                                    <img src="images/header-loginization-img.png" alt="" />
                                    <span class="header-loginization-close-icon"></span>
                                </div>
                                <div class="header-loginization-form">
                                    <div class="header-loginization-title">Авторизация</div>
                                    <div class="login-form-center">
                                        <form class="login-form-enter">
                                            <div class="form-row">
                                                <div class="form-input">
                                                    <input type="text" name="telefone_login" placeholder="Логин/номер мобильного" class="loginization-login" required="required" />
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-input">
                                                    <input type="password" name="loginization_password" placeholder="*********" class="loginization-password" required="required" />
                                                </div>
                                            </div>
                                            <div class="form-row submit-row">
                                                <div class="submit-button">
                                                    <button class="button">
                                                        <span>Войти</span>
                                                    </button>
                                                </div>
                                                <div class="loginization-forgot-pass">
                                                    <a href="#">Забыл пароль</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="login-form-bottom">
                                        <a href="#">
                                            <span>Регистрация</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        <!-- /user loginization -->

                        <!-- user logined -->
                            <div class="user-logined">

                                    <!-- user logined title -->
                                        <div class="user-logined-title">
                                            <div class="user-logined-icon">
                                                <img src="images/user-logined-icon.png" alt="" />
                                            </div>
                                            <div class="user-logined-name">Александр</div>
                                            <div class="user-logined-arrow"></div>
                                        </div>
                                    <!-- user logined title -->

                                    <!-- user logined content -->
                                        <div class="user-logined-content">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <span class="user-logined-content-icon">
                                                            <img src="images/user-logined-content-icon1.png" alt="" />
                                                        </span>
                                                        <span class="user-logined-content-text">Профиль</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="user-logined-content-icon">
                                                            <img src="images/user-logined-content-icon2.png" alt="" />
                                                        </span>
                                                        <span class="user-logined-content-text">Заказы</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="user-logined-content-icon">
                                                            <img src="images/user-logined-content-icon3.png" alt="" />
                                                        </span>
                                                        <span class="user-logined-content-text">История</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="user-logined-content-icon">
                                                            <img src="images/user-logined-content-icon4.png" alt="" />
                                                        </span>
                                                        <span class="user-logined-content-text">Выйти</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    <!-- /user logined content -->
                                </div>
                        <!-- user logined -->

                    </div>
                <!-- header user/loginization -->
            </div>
        </div>
    <!-- /header-top -->

    <!-- header-center -->
        <div class="header-center">
            <div class="mbox">
                <div class="header-center-left">
                    <!-- header-logo -->
                        <div class="header-logo">
                            <img src="images/header-logo.png" alt="" />
                        </div>
                    <!-- /header-logo -->

                    <!-- header contact -->
                        <div class="header-contact">
                            <div class="header-contact-telefone">
                                <span class="header-contact-telefone-img">
                                    <img src="images/header-contact-telefone-icon.png" alt="" />
                                </span>
                                <a href="tel:84956040000" class="header-contact-telefone-link">8 (495) 604-00-00</a>
                                <span class="header-contact-line">/</span>
                                <a href="tel:88005553377" class="header-contact-telefone-link">8 (800) 555-33-77</a>
                            </div>
                            <div class="header-contact-worktime">
                                <p>Режим работы: Пн-Сб с 9:00 до 18:00 без обеда</p>
                            </div>
                        </div>
                    <!-- /header contact -->

                    <!-- header callback to us -->
                        <div class="header-callback">
                            <a href="#">
                                <span class="callback-icon">
                                    <img src="images/callback.png" alt="" />
                                </span>
                                <span class="span callback-text">Перезвонить вам?</span>
                            </a>
                        </div>
                    <!-- /header callback to us -->
                </div>

                <!-- header busket -->
                    <div class="header-busket">

                        <!-- header busket icon -->
                            <div class="header-busket-wrap has-items">
                                <div class="header-busket-icon">
                                    <img src="images/header-busket-icon.png" alt="" />
                                </div>
                                <div class="header-busket-value">
                                    <span>3</span>
                                </span>
                            </div>
                        <!-- /header busket icon -->

                        <!-- header busket list -->
                            <div class="header-busket-list">

                                <div class="header-busket-list-wrap">
                                    <ul>
                                        <li data-item-id=1>
                                            <span class="item-img">
                                                <img src="images/basket-list-img1.png" alt="" />
                                            </span>
                                            <a href="#" class="busket-list-link">Тахеометр SOKKIA CX-105</a>
                                            <div class="busket-list-count">
                                                <div class="busket-list-count-change minus"></div>
                                                <div class="busket-list-count-change plus"></div>
                                                <div class="busket-list-count-main" data-price=200>
                                                    <div class="busket-list-text"><span>1</span> шт.</div>
                                                    <div class="busket-list-input">
                                                        <input type="text" name="busket_input_item_value" value="1" />
                                                    </div>
                                                </div>
                                                <div class="busket-list-price"><span></span> р</div>
                                            </div>
                                        </li>
                                        <li data-item-id=2>
                                            <span class="item-img">
                                                <img src="images/basket-list-img2.png" alt="" />
                                            </span>
                                            <a href="#" class="busket-list-link">Оптический нивелир RGK N-32</a>
                                            <div class="busket-list-count">
                                                <div class="busket-list-count-change minus"></div>
                                                <div class="busket-list-count-change plus"></div>
                                                <div class="busket-list-count-main" data-price=100>
                                                    <div class="busket-list-text"><span>1</span> шт.</div>
                                                    <div class="busket-list-input">
                                                        <input type="text" name="busket_input_item_value" value="1" />
                                                    </div>
                                                </div>
                                                <div class="busket-list-price"><span></span> р</div>
                                            </div>
                                        </li>
                                        <li data-item-id=3>
                                            <span class="item-img">
                                                <img src="images/basket-list-img3.png" alt="" />
                                            </span>
                                            <a href="#" class="busket-list-link">Трассоискатель RD 4000</a>
                                            <div class="busket-list-count">
                                                <div class="busket-list-count-change minus"></div>
                                                <div class="busket-list-count-change plus"></div>
                                                <div class="busket-list-count-main" data-price=300>
                                                    <div class="busket-list-text"><span>1</span> шт.</div>
                                                    <div class="busket-list-input">
                                                        <input type="text" name="busket_input_item_value" value="1" />
                                                    </div>
                                                </div>
                                                <div class="busket-list-price"><span></span> р</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="header-busket-list-link">
                                    <a href="#" class="fancybox">Оформить заказ</a>
                                </div>

                            </div>
                        <!-- /header busket list -->

                    </div>
                <!-- header busket -->
            </div>
        </div>
    <!-- /header-center -->

    <!-- header-bottom -->
        <div class="header-bottom">
            <div class="mbox">

                <!-- header-search -->
                    <div class="header-search">
                        <form class="search-form">
                            <div class="form-row">
                                <div class="form-input">
                                    <input type="text" name="search_field" placeholder="Поиск" required="required" />
                                </div>
                            </div>
                            <div class="form-row submit-row">
                                <button class="button-search">
                                    <span>
                                        <img src="images/search-loop.png" alt="" />
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                <!-- /header-search -->

                <!-- header-catalog -->
                    <div class="header-catalog">
                        <ul>

                            <!-- header-catalog always active item -->
                                <li class="show">
                                    <p>
                                        <img src="images/katalog-list-img1.png" alt="" />
                                        <a href="#">Геодезическое оборудование</a>
                                        <span></span>
                                    </p>
                                    <ul>
                                        <li>
                                            <p>
                                                <a href="#">Геодезические приемники</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Электронные тахеометры</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Сканирующие системы</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Полевые контроллеры</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Электронные теодолиты</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Оптические теодолиты</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Оптические нивелиры</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Лазерные уровни</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Цифровые нивелиры</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Лазерные дальномеры</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Трассоискатели</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Георадары</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">GPS-навигаторы</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Беспилотные аппараты</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Программное обеспечение</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Аксессуары</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            <!-- /header-catalog always active item -->

                            <!-- header-catalog show by hower item -->
                                <li>
                                    <p>
                                        <img src="images/katalog-list-img2.png" alt="" />
                                        <a href="#">Контрольно - измерительные приборы</a>
                                        <span></span>
                                    </p>
                                    <ul>
                                        <li>
                                            <p>
                                                <a href="#">Геодезические приемники</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Электронные тахеометры</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Сканирующие системы</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Полевые контроллеры</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Электронные теодолиты</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Оптические теодолиты</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Оптические нивелиры</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Лазерные уровни</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Цифровые нивелиры</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Лазерные дальномеры</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Трассоискатели</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Георадары</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">GPS-навигаторы</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Беспилотные аппараты</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Программное обеспечение</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Аксессуары</a>
                                                <span></span>
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="#">RGK</a>
                                                </li>
                                                <li>
                                                    <a href="#">SOKKOL</a>
                                                </li>
                                                <li>
                                                    <a href="#">Lukoil</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cmon Evevrybody</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            <!-- /header-catalog show by hower item -->
                        </ul>
                    </div>
                <!-- /header-catalog -->

            </div>
        </div>
    <!-- /header-bottom -->

</header>
<!-- /HEADER -->

