<div class="hidden-block">

    <div id="call_success">
        <div class="call-success">
             <div class="call_success">
                 <div class="call-title">Спасибо за заявку!</div>
                 <div class="call-subtitle">Мы свяжемся с Вами в ближайшее время</div>
             </div>
        </div>
    </div>

    <div id="call-popup">
        <form action="ajax.php" name="" class="contact-form">
            <div class="contact-form-title">
                <h5>Lorem ipsum dolor.</h5>
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input type="text" name="contact_name" required="required" value="" placeholder="Ваше Имя">
                        </div>
                    </div>
                </div>
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input type="text" name="contact_tel" value="" required="required" placeholder="Ваш номер" class="tel-mask">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <button type="submit" class="contact-submit">
                        <span>Отправить заявку</span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div id="serailPopup">
        <div class="serial-popup-main">
            <div class="serial-popup-title">
                Выбор серии
            </div>
            <div class="serial-popup-form-wrap">
                <form>
                    <div class="serial-popup-rows-wrap">
                        <div class="serial-form-row">
                            <div class="serial-form-acordion-wrap has-bottom">
                                <div class="serial-form-acrodion-top">
                                    <label class="cfix serial-label">
                                        <span class="input-check-wrap">
                                            <input type="radio" class="radio-input" name="serial" />
                                            <span class="radio-main"></span>
                                        </span>
                                        <span class="input-description">
                                            <p class="input-description-top">R4 with Radio</p>
                                            <p class="input-description-bottom">Модернизация GPS-приемника R4 до GPSG</p>
                                        </span>
                                        <span class="input-price" data-price="788099">788 099 .-</span>
                                    </label>
                                </div>
                                <div class="serial-form-acordion-bottom">
                                    <div class="serial-form-acordion-item">
                                        <label class="cfix serial-label">
                                            <span class="input-check-wrap">
                                                <input type="checkbox" name="serial_checkbox1" />
                                                <span class="checkbox-main"></span>
                                            </span>
                                            <span class="input-description">
                                                <p class="input-description-top">Galileo</p>
                                            </span>
                                            <span class="input-price" data-price="2000">2000 .-</span>
                                        </label>
                                    </div>
                                    <div class="serial-form-acordion-item">
                                        <label class="cfix serial-label">
                                            <span class="input-check-wrap">
                                                <input type="checkbox" name="serial_checkbox1" />
                                                <span class="checkbox-main"></span>
                                            </span>
                                            <span class="input-description">
                                                <p class="input-description-top">BeiDou</p>
                                            </span>
                                            <span class="input-price" data-price="1650">1650 .-</span>
                                        </label>
                                    </div>
                                    <div class="serial-form-acordion-item">
                                        <label class="cfix serial-label">
                                            <span class="input-check-wrap">
                                                <input type="checkbox" name="serial_checkbox1" />
                                                <span class="checkbox-main"></span>
                                            </span>
                                            <span class="input-description">
                                                <p class="input-description-top">BeiDou</p>
                                            </span>
                                            <span class="input-price" data-price="22900">22900 .-</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="serial-form-row">
                            <div class="serial-form-acordion-wrap has-bottom">
                                <div class="serial-form-acrodion-top">
                                    <label class="cfix serial-label">
                                        <span class="input-check-wrap">
                                            <input type="radio" class="radio-input" name="serial" />
                                            <span class="radio-main"></span>
                                        </span>
                                        <span class="input-description">
                                            <p class="input-description-top">R4 GNSS</p>
                                            <p class="input-description-bottom">Приемник Base</p>
                                        </span>
                                        <span class="input-price" data-price="788099">788 099 .-</span>
                                    </label>
                                </div>
                                <div class="serial-form-acordion-bottom">
                                    <div class="serial-form-acordion-item">
                                        <label class="cfix serial-label">
                                            <span class="input-check-wrap">
                                                <input type="checkbox" name="serial_checkbox1" />
                                                <span class="checkbox-main"></span>
                                            </span>
                                            <span class="input-description">
                                                <p class="input-description-top">Galileo</p>
                                            </span>
                                            <span class="input-price" data-price="2000">2000 .-</span>
                                        </label>
                                    </div>
                                    <div class="serial-form-acordion-item">
                                        <label class="cfix serial-label">
                                            <span class="input-check-wrap">
                                                <input type="checkbox" name="serial_checkbox1" />
                                                <span class="checkbox-main"></span>
                                            </span>
                                            <span class="input-description">
                                                <p class="input-description-top">BeiDou</p>
                                            </span>
                                            <span class="input-price" data-price="1650">1650 .-</span>
                                        </label>
                                    </div>
                                    <div class="serial-form-acordion-item">
                                        <label class="cfix serial-label">
                                            <span class="input-check-wrap">
                                                <input type="checkbox" name="serial_checkbox1" />
                                                <span class="checkbox-main"></span>
                                            </span>
                                            <span class="input-description">
                                                <p class="input-description-top">BeiDou</p>
                                            </span>
                                            <span class="input-price" data-price="22900">22900 .-</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="serial-form-row">
                            <div class="serial-form-acordion-wrap">
                                <div class="serial-form-acrodion-top">
                                    <label class="cfix serial-label">
                                        <span class="input-check-wrap">
                                            <input type="radio" class="radio-input" name="serial" />
                                            <span class="radio-main"></span>
                                        </span>
                                        <span class="input-description">
                                            <p class="input-description-top">Опция Transmit (410-470 MHz)</p>
                                            <p class="input-description-bottom">Модернизация радио до передатчика для GPS-приемников R4</p>
                                        </span>
                                        <span class="input-price" data-price="788099">788 099 ,-</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="serial-form-row">
                            <div class="serial-form-acordion-wrap has-bottom">
                                <div class="serial-form-acrodion-top">
                                    <label class="cfix serial-label">
                                        <span class="input-check-wrap">
                                            <input type="radio" class="radio-input" name="serial" />
                                            <span class="radio-main"></span>
                                        </span>
                                        <span class="input-description">
                                            <p class="input-description-top">R4 GNSS</p>
                                            <p class="input-description-bottom">Приемник Base</p>
                                        </span>
                                        <span class="input-price" data-price="788099">788 099 ,-</span>
                                    </label>
                                </div>
                                <div class="serial-form-acordion-bottom">
                                    <div class="serial-form-acordion-item">
                                        <label class="cfix serial-label">
                                            <span class="input-check-wrap">
                                                <input type="checkbox" name="serial_checkbox1" />
                                                <span class="checkbox-main"></span>
                                            </span>
                                            <span class="input-description">
                                                <p class="input-description-top">Galileo</p>
                                            </span>
                                            <span class="input-price" data-price="2000">2000 .-</span>
                                        </label>
                                    </div>
                                    <div class="serial-form-acordion-item">
                                        <label class="cfix serial-label">
                                            <span class="input-check-wrap">
                                                <input type="checkbox" name="serial_checkbox1" />
                                                <span class="checkbox-main"></span>
                                            </span>
                                            <span class="input-description">
                                                <p class="input-description-top">BeiDou</p>
                                            </span>
                                            <span class="input-price" data-price="1650">1650 .-</span>
                                        </label>
                                    </div>
                                    <div class="serial-form-acordion-item">
                                        <label class="cfix serial-label">
                                            <span class="input-check-wrap">
                                                <input type="checkbox" name="serial_checkbox1" />
                                                <span class="checkbox-main"></span>
                                            </span>
                                            <span class="input-description">
                                                <p class="input-description-top">BeiDou</p>
                                            </span>
                                            <span class="input-price" data-price="22900">22900 .-</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="serial-form-row bottom">
                        <div class="serial-form-sum">
                            <span class="serial-sum-desc">Итого: </span>
                            <span class="serial-sum-val"></span>
                        </div>
                        <div class="serial-form-submit">
                            <button type="submit" class="button serial-submit">
                                <span class="icon basket-icon"></span>
                                <span class="serial-submit-text">Купить</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>