<div class="hidden-block">

    <div id="call_success">
        <div class="call-success">
             <div class="call_success">
                 <div class="call-title">Спасибо за отзыв!</div>
             </div>
        </div>
    </div>

    <div id="serailPopup">
        <div class="serial-popup-main">
            <div class="serial-popup-title">
                Выбор серии
            </div>
            <div class="serial-popup-form-wrap">
                <form>
                    <div class="serial-popup-rows-wrap">
                        <div class="serial-form-row">
                            <div class="serial-form-acordion-wrap has-bottom">
                                <div class="serial-form-acrodion-top">
                                    <label class="cfix serial-label">
                                        <span class="input-check-wrap">
                                            <input type="radio" class="radio-input" name="serial" />
                                            <span class="radio-main"></span>
                                        </span>
                                        <span class="input-description">
                                            <p class="input-description-top">R4 with Radio</p>
                                            <p class="input-description-bottom">Модернизация GPS-приемника R4 до GPSG</p>
                                        </span>
                                        <span class="input-price" data-price="788099">788 099 .-</span>
                                    </label>
                                </div>
                                <div class="serial-form-acordion-bottom">
                                    <div class="serial-form-acordion-item">
                                        <label class="cfix serial-label">
                                            <span class="input-check-wrap">
                                                <input type="checkbox" name="serial_checkbox1" />
                                                <span class="checkbox-main"></span>
                                            </span>
                                            <span class="input-description">
                                                <p class="input-description-top">Galileo</p>
                                            </span>
                                            <span class="input-price" data-price="2000">2000 .-</span>
                                        </label>
                                    </div>
                                    <div class="serial-form-acordion-item">
                                        <label class="cfix serial-label">
                                            <span class="input-check-wrap">
                                                <input type="checkbox" name="serial_checkbox1" />
                                                <span class="checkbox-main"></span>
                                            </span>
                                            <span class="input-description">
                                                <p class="input-description-top">BeiDou</p>
                                            </span>
                                            <span class="input-price" data-price="1650">1650 .-</span>
                                        </label>
                                    </div>
                                    <div class="serial-form-acordion-item">
                                        <label class="cfix serial-label">
                                            <span class="input-check-wrap">
                                                <input type="checkbox" name="serial_checkbox1" />
                                                <span class="checkbox-main"></span>
                                            </span>
                                            <span class="input-description">
                                                <p class="input-description-top">BeiDou</p>
                                            </span>
                                            <span class="input-price" data-price="22900">22900 .-</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="serial-form-row">
                            <div class="serial-form-acordion-wrap has-bottom">
                                <div class="serial-form-acrodion-top">
                                    <label class="cfix serial-label">
                                        <span class="input-check-wrap">
                                            <input type="radio" class="radio-input" name="serial" />
                                            <span class="radio-main"></span>
                                        </span>
                                        <span class="input-description">
                                            <p class="input-description-top">R4 GNSS</p>
                                            <p class="input-description-bottom">Приемник Base</p>
                                        </span>
                                        <span class="input-price" data-price="788099">788 099 .-</span>
                                    </label>
                                </div>
                                <div class="serial-form-acordion-bottom">
                                    <div class="serial-form-acordion-item">
                                        <label class="cfix serial-label">
                                            <span class="input-check-wrap">
                                                <input type="checkbox" name="serial_checkbox1" />
                                                <span class="checkbox-main"></span>
                                            </span>
                                            <span class="input-description">
                                                <p class="input-description-top">Galileo</p>
                                            </span>
                                            <span class="input-price" data-price="2000">2000 .-</span>
                                        </label>
                                    </div>
                                    <div class="serial-form-acordion-item">
                                        <label class="cfix serial-label">
                                            <span class="input-check-wrap">
                                                <input type="checkbox" name="serial_checkbox1" />
                                                <span class="checkbox-main"></span>
                                            </span>
                                            <span class="input-description">
                                                <p class="input-description-top">BeiDou</p>
                                            </span>
                                            <span class="input-price" data-price="1650">1650 .-</span>
                                        </label>
                                    </div>
                                    <div class="serial-form-acordion-item">
                                        <label class="cfix serial-label">
                                            <span class="input-check-wrap">
                                                <input type="checkbox" name="serial_checkbox1" />
                                                <span class="checkbox-main"></span>
                                            </span>
                                            <span class="input-description">
                                                <p class="input-description-top">BeiDou</p>
                                            </span>
                                            <span class="input-price" data-price="22900">22900 .-</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="serial-form-row">
                            <div class="serial-form-acordion-wrap">
                                <div class="serial-form-acrodion-top">
                                    <label class="cfix serial-label">
                                        <span class="input-check-wrap">
                                            <input type="radio" class="radio-input" name="serial" />
                                            <span class="radio-main"></span>
                                        </span>
                                        <span class="input-description">
                                            <p class="input-description-top">Опция Transmit (410-470 MHz)</p>
                                            <p class="input-description-bottom">Модернизация радио до передатчика для GPS-приемников R4</p>
                                        </span>
                                        <span class="input-price" data-price="788099">788 099 ,-</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="serial-form-row">
                            <div class="serial-form-acordion-wrap has-bottom">
                                <div class="serial-form-acrodion-top">
                                    <label class="cfix serial-label">
                                        <span class="input-check-wrap">
                                            <input type="radio" class="radio-input" name="serial" />
                                            <span class="radio-main"></span>
                                        </span>
                                        <span class="input-description">
                                            <p class="input-description-top">R4 GNSS</p>
                                            <p class="input-description-bottom">Приемник Base</p>
                                        </span>
                                        <span class="input-price" data-price="788099">788 099 ,-</span>
                                    </label>
                                </div>
                                <div class="serial-form-acordion-bottom">
                                    <div class="serial-form-acordion-item">
                                        <label class="cfix serial-label">
                                            <span class="input-check-wrap">
                                                <input type="checkbox" name="serial_checkbox1" />
                                                <span class="checkbox-main"></span>
                                            </span>
                                            <span class="input-description">
                                                <p class="input-description-top">Galileo</p>
                                            </span>
                                            <span class="input-price" data-price="2000">2000 .-</span>
                                        </label>
                                    </div>
                                    <div class="serial-form-acordion-item">
                                        <label class="cfix serial-label">
                                            <span class="input-check-wrap">
                                                <input type="checkbox" name="serial_checkbox1" />
                                                <span class="checkbox-main"></span>
                                            </span>
                                            <span class="input-description">
                                                <p class="input-description-top">BeiDou</p>
                                            </span>
                                            <span class="input-price" data-price="1650">1650 .-</span>
                                        </label>
                                    </div>
                                    <div class="serial-form-acordion-item">
                                        <label class="cfix serial-label">
                                            <span class="input-check-wrap">
                                                <input type="checkbox" name="serial_checkbox1" />
                                                <span class="checkbox-main"></span>
                                            </span>
                                            <span class="input-description">
                                                <p class="input-description-top">BeiDou</p>
                                            </span>
                                            <span class="input-price" data-price="22900">22900 .-</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="serial-form-row bottom">
                        <div class="serial-form-sum">
                            <span class="serial-sum-desc">Итого: </span>
                            <span class="serial-sum-val"></span>
                        </div>
                        <div class="serial-form-submit">
                            <button type="submit" class="button serial-submit">
                                <span class="icon basket-icon"></span>
                                <span class="serial-submit-text">Купить</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="rewievPopup">
        <div class="rewievPopup-wrap">
            <form name="" class="comment-form">
                <input type="hidden" value="" class="rewiev-form-hidden">

                <div class="rewievPopup_title">
                    Написать отзыв
                </div>
                <div class="form_row">
                    <div class="form_input">
                        <label>Ваше имя</label>
                        <input type="text" name="rewiev_name" id="rewiev_name" required="required" value="">
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_input">
                        <label>Город</label>
                        <input type="text" name="rewiev_town" id="rewiev_town"  value="">
                    </div>
                </div>
                 <div class="form_row">
                    <div class="form_input">
                        <label>Оценка:</label>
                        <div class="rating cfix">
                            <label><span class="form-input active"><input type="radio" name="rewiev_star" value="1"><span class="radio-icon"></span></span></label>
                            <label><span class="form-input active"><input type="radio" name="rewiev_star" value="2"><span class="radio-icon"></span></span></label>
                            <label><span class="form-input active"><input type="radio" name="rewiev_star" value="3"><span class="radio-icon"></span></span></label>
                            <label><span class="form-input active"><input type="radio" name="rewiev_star" value="4"><span class="radio-icon"></span></span></label>
                            <label><span class="form-input"><input type="radio" name="rewiev_star" value="5"><span class="radio-icon"></span></span></label>
                        </div>
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_input">
                        <label>Отзыв</label>
                        <textarea  name="rewiev_conmment" id="rewiev_comment" required="required" value=""></textarea>
                    </div>
                </div>
                <div class="form_row submit-wrap">
                    <button type="submit" class="contact-submit">
                        <span>Отправить</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>