<div class="middle-goods">
    <div class="mbox">
        <div class="title">
            <h5>Хиты продаж</h5>
            <a href="#">Все хиты</a>
        </div>

        <div class="goods-items">
            <div class="goods-item">
                <a href="#">
                    <span class="goods-item-wrap">
                        <span class="goods-item-img">
                            <img src="images/goods-item-img-1.jpg" alt="">
                        </span>
                        <span class="goods-item-title">GPS Topcon GR-3</span>
                        <span class="goods-item-subtitle">Контроллер</span>
                        <span class="goods-item-price">
                            <span class="goods-item-price-now action">369120 .-</span>
                            <span class="goods-item-price-old">450900 .-</span>
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>