<div class="news">
    <div class="mbox">
        <div class="title">
            <h5>Новости</h5>
            <a href="#">Все новости</a>
        </div>
        <div class="news-wrap">
            <div class="item">
                <div class="item-img"><a href="#"><img src="images/news-img-1.jpg" alt=""></a></div>
                <div class="item-time">10.11.14</div>
                <div class="item-title"><a href="#">Заголовок новости, коротко о главном</a></div>
                <div class="item-text">
                    <p>Еврокомиссия выделила прибалтийским молочникам 28 миллионов евро в замен проведения корпоратива у пингвинов.</p>
                </div>
            </div>
            <div class="item">
                <div class="item-img"><a href="#"><img src="images/news-img-2.jpg" alt=""></a></div>
                <div class="item-time">10.11.14</div>
                <div class="item-title"><a href="#">Дрогуой заголовок новости, коротко о главном</a></div>
                <div class="item-text">
                    <p>Сара Брайтман приедет в Москву на медкомиссию и даст взятку доктору.</p>
                </div>
            </div>
            <div class="item">
                <div class="item-img"><a href="#"><img src="images/news-img-3.jpg" alt=""></a></div>
                <div class="item-time">10.11.14</div>
                <div class="item-title"><a href="#">Заголовок новости, коротко о главном</a></div>
                <div class="item-text">
                    <p>Еврокомиссия выделила прибалтийским молочникам 28 миллионов евро в замен проведения корпоратива у пингвинов.</p>
                </div>
            </div>
            <div class="item">
                <div class="item-img"><a href="#"><img src="images/news-img-4.jpg" alt=""></a></div>
                <div class="item-time">10.11.14</div>
                <div class="item-title"><a href="#">Дрогуой заголовок новости, коротко о главном</a></div>
                <div class="item-text">
                    <p>Сара Брайтман приедет в Москву на медкомиссию и даст взятку доктору.</p>
                </div>
            </div>
        </div>
    </div>
</div>