<div class="news-page">
    <div class="news-page-wrap">
        <div class="news-page-row">
            <div class="item big">
                <div class="item-img">
                    <a href="#">
                        <img src="images/newspage-img-1.jpg" alt="">
                    </a>
                </div>
                <div class="item-title">
                    <a href="#">
                        <span>Купить GPS для геодезии</span>
                    </a>
                </div>
                <div class="item-text">
                    <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное </p>
                </div>
                <div class="item-date">
                    <span>02.02.2016</span>
                </div>
            </div>
            <div class="item standart">
                <div class="item-mini">
                    <div class="item-title">
                        <a href="#">
                            <span>«Геодезия»: жизнь в правильных границах</span>
                        </a>
                    </div>
                    <div class="item-text">
                        <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели </p>
                    </div>
                    <div class="item-date">
                        <span>02.02.2016</span>
                    </div>
                </div>
                <div class="item-mini">
                    <div class="item-title">
                        <a href="#">
                            <span>Геодезические услуги в Томске оказывают </span>
                        </a>
                    </div>
                    <div class="item-text">
                        <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное lorem40</p>
                    </div>
                    <div class="item-date">
                        <span>02.02.2016</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="news-page-row">
            <div class="item two">
                <div class="item-img">
                    <a href="#">
                        <img src="images/newspage-img-2.jpg" alt="">
                    </a>
                </div>
                <div class="item-title">
                    <a href="#">
                        <span>Купить GPS для геодезии</span>
                    </a>
                </div>
                <div class="item-text">
                    <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное </p>
                </div>
                <div class="item-date">
                    <span>02.02.2016</span>
                </div>
            </div>
            <div class="item two">
                <div class="item-img">
                    <a href="#">
                        <img src="images/newspage-img-3.jpg" alt="">
                    </a>
                </div>
                <div class="item-title">
                    <a href="#">
                        <span>Купить GPS для геодезии</span>
                    </a>
                </div>
                <div class="item-text">
                    <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное </p>
                </div>
                <div class="item-date">
                    <span>02.02.2016</span>
                </div>
            </div>
        </div>
        <div class="news-page-row reverse">
            <div class="item big">
                <div class="item-img">
                    <a href="#">
                        <img src="images/newspage-img-1.jpg" alt="">
                    </a>
                </div>
                <div class="item-title">
                    <a href="#">
                        <span>Купить GPS для геодезии</span>
                    </a>
                </div>
                <div class="item-text">
                    <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное </p>
                </div>
                <div class="item-date">
                    <span>02.02.2016</span>
                </div>
            </div>
            <div class="item standart">
                <div class="item-mini">
                    <div class="item-title">
                        <a href="#">
                            <span>«Геодезия»: жизнь в правильных границах</span>
                        </a>
                    </div>
                    <div class="item-text">
                        <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели </p>
                    </div>
                    <div class="item-date">
                        <span>02.02.2016</span>
                    </div>
                </div>
                <div class="item-mini">
                    <div class="item-title">
                        <a href="#">
                            <span>Геодезические услуги в Томске оказывают </span>
                        </a>
                    </div>
                    <div class="item-text">
                        <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное </p>
                    </div>
                    <div class="item-date">
                        <span>02.02.2016</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>