<div class="top-block">
    <div class="top-block-slider">
        <div class="item">
            <div class="top">
                <a href="#">
                    <img src="images/top-block-slider.jpg" alt="">
                </a>
            </div>
            <div class="three-items">
                <div class="subitem" style="background-color: #357f9e;">
                    <a href="#">
                        <span class="subitem_img">
                            <img src="images/subitem_img-1.png" alt="">
                        </span>
                        <span class="subitem_other">
                             <span class="subitem_name">GPS Topcon GR-3</span>
                            <span class="subitem_price">369120 .-</span>
                        </span>
                    </a>
                </div>
                <div class="subitem" style="background-color: #36d0bc;">
                    <a href="#">
                        <span class="subitem_img">
                            <img src="images/subitem_img-2.png" alt="">
                        </span>
                        <span class="subitem_other">
                            <span class="subitem_name">Sokkia CX-105</span>
                            <span class="subitem_price">332576.- </span>
                        </span>
                    </a>
                </div>
                <div class="subitem" style="background-color: #f2b705;">
                    <a href="#">
                        <span class="subitem_img">
                            <img src="images/subitem_img-1.png" alt="">
                        </span>
                        <span class="subitem_other">
                            <span class="subitem_name">Sokkia CX-105</span>
                            <span class="subitem_price">332576.- </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>