<div class="top-block">
    <div class="top-block-slider">
        <div class="item">
            <div class="top">
                <a href="#">
                    <img src="images/top-block-slider.jpg" alt="">
                </a>
            </div>
            <div class="three-items">
                <div class="subitem" style="background-color:#357f9e">
                    <a href="#">
                        <span class="subitem_img">
                            <svg version="1.1" id="subitem_img_1"xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 311.8 311.8" style="enable-background:new 0 0 311.8 311.8;" xml:space="preserve">
                                <style type="text/css">
                                    #subitem_img_1 .st0{fill:#F5F6F5;}
                                    #subitem_img_1 .st1{fill:none;}
                                    #subitem_img_1 .st2{fill:#46433E;}
                                </style>
                                <g>
                                    <path class="st2" d="M121.8,255.4h-4.3l-0.7,1.9h-3.3l5-12.7h2.2l5.2,12.7h-3.5L121.8,255.4z M118.7,252.2l-0.1,0.3h2.1l-0.1-0.2
                                        l-1-2.7L118.7,252.2z"/>
                                    <path class="st2" d="M140.9,244.8l-4.5,6.1l4.9,6.2v0.2h-3.8l-3.7-4.9v4.9h-3.1v-12.6h3.1v4.9l3.5-4.9h3.7V244.8z"/>
                                    <path class="st2" d="M156.3,254.4v5.1h-2.9v-2.3h-7.4v-12.6h3.1v9.8h3.1v-9.8h3.1v9.8H156.3z"/>
                                    <path class="st2" d="M167.8,257.2v-6.4l-4.7,6.4h-2.1v-12.6h3v6.4l4.6-6.4h2.1v12.6H167.8z"/>
                                    <path class="st2" d="M182.4,257.2v-6.4l-4.7,6.4h-2.1v-12.6h3v6.4l4.6-6.4h2.1v12.6H182.4z"/>
                                </g>
                                <g>
                                    <g>
                                        <g>
                                            <path class="st2" d="M118.2,188.1c20.9-20.9,41.8-41.8,62.6-62.6c3-3,5.9-5.9,8.9-8.9c1.7-1.7-0.9-4.4-2.7-2.7
                                                c-20.9,20.9-41.8,41.8-62.6,62.6c-3,3-5.9,5.9-8.9,8.9C113.8,187.1,116.5,189.8,118.2,188.1L118.2,188.1z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path class="st2" d="M188.2,173.7c-0.7,13.9-21.7,14-21.7,0C166.5,159.7,187.4,159.8,188.2,173.7c0.1,1.9,3.1,1.9,3,0
                                                c-0.4-7.5-6-13.9-13.9-13.9c-7.5,0-13.9,6.3-13.9,13.9c0,7.3,5.9,13.5,13.2,13.8c8.1,0.4,14.1-6,14.5-13.8
                                                C191.3,171.8,188.3,171.8,188.2,173.7z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path class="st2" d="M138.8,124.3c-0.7,13.9-21.7,14-21.7,0C117,110.2,138,110.4,138.8,124.3c0.1,1.9,3.1,1.9,3,0
                                                c-0.4-7.5-6-13.9-13.9-13.9c-7.5,0-13.9,6.3-13.9,13.9c0,7.3,5.9,13.5,13.2,13.8c8.1,0.4,14.1-6,14.5-13.8
                                                C141.9,122.3,138.9,122.3,138.8,124.3z"/>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </span>
                    </a>
                </div>
                <div class="subitem" style="background-color:#36d0bc">
                    <a href="#">
                        <span class="subitem_img">
                            <svg version="1.1" id="subitem_img_2"xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 311.8 311.8" style="enable-background:new 0 0 311.8 311.8;" xml:space="preserve">
                                <style type="text/css">
                                    #subitem_img_2 .st0{fill:transparent;}
                                    #subitem_img_2 .st1{fill:#46433E;}
                                </style>
                                <g>
                                    <g>
                                        <g>
                                            <path class="st0" d="M158.5,144.8l16.6,16.6c1.2,1.2,2.7,1.8,4.4,1.7l1.5-0.1c5-0.5,10.3,1.1,14.1,5c5.1,5.1,6.4,12.6,3.8,18.9
                                                l-0.2-0.2l-10.5-10.5l-6.4,6.4l-3.8,3.8l10.5,10.5l0.2,0.2c-6.3,2.6-13.8,1.3-18.9-3.8c-3.9-3.9-5.5-9.1-5-14.1l0.1-1.5
                                                c0.1-1.6-0.5-3.2-1.7-4.4l-16.6-16.6L130,140c-1.2-1.2-2.7-1.8-4.4-1.7l-1.5,0.1c-5,0.5-10.3-1.1-14.1-5
                                                c-5.1-5.1-6.4-12.6-3.8-18.9l0.2,0.2l10.5,10.5l3.8-3.8l6.4-6.4l-10.5-10.5l-0.2-0.2c6.3-2.6,13.8-1.3,18.9,3.8
                                                c3.9,3.9,5.5,9.1,5,14.1l-0.1,1.5c-0.1,1.6,0.5,3.2,1.7,4.4L158.5,144.8z"/>
                                        </g>
                                        <g>

                                                <rect x="129" y="142.3" transform="matrix(0.7071 0.7071 -0.7071 0.7071 151.2374 -63.7601)" class="st0" width="47.1" height="16.8"/>
                                        </g>
                                        <g>
                                            <g>
                                                <path class="st1" d="M157.4,145.8c5.3,5.3,10.5,10.8,15.9,15.9c3.8,3.6,7.3,2.1,12.1,2.9c10.3,1.7,15.5,12.4,12,21.8
                                                    c0.8-0.2,1.7-0.4,2.5-0.7c-3.5-3.6-7.1-7.1-10.7-10.7c-0.6-0.6-1.6-0.6-2.2,0c-3.4,3.4-6.8,6.8-10.2,10.2
                                                    c-0.6,0.6-0.6,1.6,0,2.2c3.6,3.6,7.1,7.1,10.7,10.7c0.2-0.8,0.4-1.7,0.7-2.5c-7.1,2.6-15.2,0.6-19.5-5.9c-1.8-2.8-2.6-6-2.5-9.3
                                                    c0-2,0.4-3.9-0.4-5.8c-0.9-2.1-3-3.8-4.6-5.4c-2.7-2.7-5.4-5.4-8.1-8.1c-7.4-7.4-14.4-15.2-22.2-22.2c-4.1-3.7-9.8-1.2-14.6-3
                                                    c-8.5-3.3-11.8-12.7-8.8-20.9c-0.8,0.2-1.7,0.4-2.5,0.7c3.5,3.6,7.1,7.1,10.7,10.7c0.6,0.6,1.6,0.6,2.2,0
                                                    c3.4-3.4,6.8-6.8,10.2-10.2c0.6-0.6,0.6-1.6,0-2.2c-3.6-3.6-7.1-7.1-10.7-10.7c-0.2,0.8-0.4,1.7-0.7,2.5c9-3.4,19.3,1.3,21.6,11
                                                    c1.2,5-0.8,9,3.1,13.1C146.7,135.3,152.1,140.5,157.4,145.8c1.4,1.4,3.5-0.8,2.2-2.2c-2.6-2.6-5.2-5.2-7.8-7.8
                                                    c-2.8-2.8-6.4-5.6-8.8-8.8c-2.1-2.8-0.8-6.7-1.4-9.9c-0.6-3.6-2.3-7-4.8-9.7c-5.3-5.7-13.5-7.3-20.8-4.6c-1,0.4-1.5,1.7-0.7,2.5
                                                    c3.6,3.5,7.1,7.1,10.7,10.7c0-0.7,0-1.4,0-2.2c-3.4,3.4-6.8,6.8-10.2,10.2c0.7,0,1.4,0,2.2,0c-3.6-3.6-7.1-7.1-10.7-10.7
                                                    c-0.9-0.9-2.2-0.4-2.5,0.7c-4.2,11.2,2.6,23.8,14.7,25.6c3.2,0.5,6.5-0.6,9.4,1.3c0.7,0.4,1.3,1.3,1.8,1.8
                                                    c2.7,2.7,5.5,5.5,8.2,8.2c3.6,3.6,7.2,7.2,10.9,10.9c3,3,5.9,5.9,8.9,8.9c2.6,2.6,4.6,4,4.7,8.1c0.1,6.8,1.6,12.7,7.3,17
                                                    c5.3,4.1,12.2,4.8,18.4,2.5c1-0.4,1.5-1.7,0.7-2.5c-3.6-3.5-7.1-7.1-10.7-10.7c0,0.7,0,1.4,0,2.2c3.4-3.4,6.8-6.8,10.2-10.2
                                                    c-0.7,0-1.4,0-2.2,0c3.6,3.6,7.1,7.1,10.7,10.7c0.9,0.9,2.2,0.4,2.5-0.7c2.6-7,1.2-15-4.2-20.3c-2.7-2.7-6.3-4.6-10.1-5.2
                                                    c-3.4-0.6-6.8,0.6-9.9-1.4c-3.1-2-5.9-5.9-8.5-8.5c-2.7-2.7-5.4-5.4-8-8C158.2,142.3,156,144.4,157.4,145.8z"/>
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path class="st0" d="M116,196.9l-8.4-8.4c-1.4-1.4-1.4-3.9,0.2-5.4l32.1-32.1l13.7,13.7l-32.1,32.1
                                                    C119.6,198.6,117.5,198.3,116,196.9z"/>
                                            </g>
                                            <g>
                                                <g>
                                                    <path class="st1" d="M117.1,195.8c-2.5-2.5-10.6-8-7.9-12c2.4-3.5,6.6-6.6,9.6-9.6c7.4-7.4,14.8-14.8,22.2-22.2
                                                        c-0.7,0-1.4,0-2.2,0c4.6,4.6,9.1,9.1,13.7,13.7c0-0.7,0-1.4,0-2.2c-5.5,5.5-10.9,10.9-16.4,16.4c-3.7,3.7-7.3,7.3-11,11
                                                        C123.9,192.1,119.7,197.9,117.1,195.8c-1.5-1.2-3.7,0.9-2.2,2.2c3.7,2.9,6.6,0.8,9.4-1.9c3.6-3.6,7.2-7.2,10.9-10.9
                                                        c6.5-6.5,13-13,19.5-19.5c0.6-0.6,0.6-1.6,0-2.2c-4.6-4.6-9.1-9.1-13.7-13.7c-0.6-0.6-1.6-0.6-2.2,0
                                                        c-8.4,8.4-16.9,16.9-25.3,25.3c-2.5,2.5-7.3,5.7-8.3,9.3c-0.9,3.2,1.3,5.2,3.3,7.1c2.1,2.1,4.3,4.3,6.4,6.4
                                                        C116.3,199.3,118.5,197.2,117.1,195.8z"/>
                                                </g>
                                            </g>
                                        </g>
                                        <g>
                                            <g>

                                                    <rect x="142.7" y="150.7" transform="matrix(0.7071 0.7071 -0.7071 0.7071 153.3099 -60.4948)" class="st0" width="13.9" height="8.3"/>
                                            </g>
                                            <g>
                                                <g>
                                                    <path class="st1" d="M152.7,161.6c-3.3-3.3-6.5-6.5-9.8-9.8c0,0.7,0,1.4,0,2.2c1.9-1.9,3.9-3.9,5.8-5.8c-0.7,0-1.4,0-2.2,0
                                                        c3.3,3.3,6.5,6.5,9.8,9.8c0-0.7,0-1.4,0-2.2c-1.9,1.9-3.9,3.9-5.8,5.8c-1.4,1.4,0.8,3.5,2.2,2.2c1.9-1.9,3.9-3.9,5.8-5.8
                                                        c0.6-0.6,0.6-1.6,0-2.2c-3.3-3.3-6.5-6.5-9.8-9.8c-0.6-0.6-1.6-0.6-2.2,0c-1.9,1.9-3.9,3.9-5.8,5.8c-0.6,0.6-0.6,1.6,0,2.2
                                                        c3.3,3.3,6.5,6.5,9.8,9.8C152,165.1,154.1,163,152.7,161.6z"/>
                                                </g>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <polyline class="st0" points="173.6,126.6 184.5,115.7 184.7,110.5 196.8,104.5 199.8,107.5 193.8,119.6 188.7,119.9
                                                    154.6,153.9 150.5,149.7 166.1,134.1                 "/>
                                            </g>
                                            <g>
                                                <g>
                                                    <path class="st1" d="M174.7,127.7c2.2-2.2,4.4-4.4,6.6-6.6c1.6-1.6,4.2-3.3,4.8-5.5c0.2-0.9,0.6-4.1,0.2-4.9
                                                        c0.5,1-1.6,1.1,0.1,0.8c0.7-0.2,1.5-0.7,2.1-1c3.1-1.5,6.1-3.1,9.2-4.6c-0.6-0.1-1.2-0.2-1.8-0.2c1,1,2,2,3.1,3.1
                                                        c-0.1-0.6-0.2-1.2-0.2-1.8c-1.4,2.8-2.8,5.7-4.3,8.5c-0.4,0.8-1.8,2.6-1.8,3.5c0-0.9,2-0.7-0.5-0.6c-0.9,0-1.9,0-2.8,0.1
                                                        c-3.3,0.6-6.3,5.2-8.6,7.5c-9,9-18,18-27,27c0.7,0,1.4,0,2.2,0c-1.4-1.4-2.8-2.8-4.2-4.2c0,0.7,0,1.4,0,2.2
                                                        c5.2-5.2,21.1-21.2,26.3-26.4c1.4-1.4-0.8-3.5-2.2-2.2c-5.2,5.2-21.1,21.2-26.3,26.4c-0.6,0.6-0.6,1.6,0,2.2
                                                        c1.4,1.4,2.8,2.8,4.2,4.2c0.6,0.6,1.6,0.6,2.2,0c6.5-6.5,13.1-13.1,19.6-19.6c3.8-3.8,7.7-7.7,11.5-11.5
                                                        c0.9-0.9,1.9-1.8,2.7-2.7c0.2-0.2,0.5-0.3-0.3,0c-1.1,0.5,0.5,0.1,0.9,0.1c1.2,0,2.5-0.1,3.7-0.2c0.5,0,1.1-0.3,1.3-0.8
                                                        c2-4,4-8.1,6-12.1c0.3-0.6,0.3-1.3-0.2-1.8c-1-1-2-2-3.1-3.1c-0.5-0.5-1.2-0.5-1.8-0.2c-4,2-8.1,4-12.1,6
                                                        c-0.5,0.2-0.7,0.8-0.8,1.3c0,0.9-0.1,1.7-0.1,2.6c0,0.6-0.3,2.9,0.1,2c0.5-1-0.3,0.1-0.6,0.4c-0.8,0.6-1.4,1.4-2.1,2.1
                                                        c-2.6,2.6-5.3,5.3-7.9,7.9C171.1,126.9,173.3,129.1,174.7,127.7L174.7,127.7z"/>
                                                </g>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <path class="st1" d="M114.5,187.8c9.3-9.3,18.7-18.7,28-28c1.4-1.4-0.8-3.5-2.2-2.2c-9.3,9.3-18.7,18.7-28,28
                                                    C111,187,113.1,189.2,114.5,187.8L114.5,187.8z"/>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <path class="st1" d="M144.7,161.9c-9.3,9.3-18.7,18.7-28,28c-1.4,1.4,0.8,3.5,2.2,2.2c9.3-9.3,18.7-18.7,28-28
                                                    C148.2,162.6,146.1,160.5,144.7,161.9L144.7,161.9z"/>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                                <g>
                                    <path class="st1" d="M116.3,245.7c5.9,0,5.9,8.9,0,8.9h-1.7v3.7h-3.1v-12.6H116.3z M116.3,251.7c1.9,0,1.9-3,0-3h-1.7v3H116.3z"/>
                                    <path class="st1" d="M128.5,255.3h5.2v3h-8.3v-12.6h8.3v3h-5.2v1.8h5.1v3h-5.1V255.3z"/>
                                    <path class="st1" d="M141.6,258.3h-3.1v-12.6h2.4l3.3,4.9l3.3-4.9h2.4v12.6H147v-6.2l-1.8,2.7h-1.7l-1.8-2.7V258.3z"/>
                                    <path class="st1" d="M161.3,245.5c3.6,0,6.5,2.8,6.5,6.5c0,3.7-2.9,6.5-6.5,6.5s-6.5-2.8-6.5-6.5
                                        C154.8,248.3,157.7,245.5,161.3,245.5z M164.8,252c0-4.8-6.9-4.8-6.9,0C157.9,256.8,164.8,256.7,164.8,252z"/>
                                    <path class="st1" d="M175.6,250.5h3.3v-4.8h3.1v12.6H179v-4.9h-3.3v4.9h-3.1v-12.6h3.1V250.5z"/>
                                    <path class="st1" d="M190.2,258.3v-9.7h-3.4v-2.9h9.9v2.9h-3.4v9.7H190.2z"/>
                                </g>
                            </svg>
                        </span>
                    </a>
                </div>
                <div class="subitem" style="background-color:#f2b705">
                    <a href="#">
                        <span class="subitem_img">
                            <svg version="1.1" id="subitem_img_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 311.8 311.8" style="enable-background:new 0 0 311.8 311.8;" xml:space="preserve">
                            <style type="text/css">
                                #subitem_img_3 .st0{fill:transparent;}
                                #subitem_img_3 .st1{fill:#46433E;}
                                #subitem_img_3 .st2{fill:transparent;}
                            </style>
                            <g>
                                <g>
                                    <g>
                                        <polyline class="st0" points="114.1,176.7 114.1,97.8 178.6,97.8 193.7,113.7 193.7,203.6 114.1,203.6 114.1,191.5             "/>
                                    </g>
                                    <g>
                                        <g>
                                            <path class="st1" d="M115.6,194.9c0-23,0-64.1,0-87.1c0-3.3,0-6.7,0-10c-0.5,0.5-1,1-1.5,1.5c11.8,0,23.6,0,35.5,0
                                                c7.4,0,14.7,0,22.1,0c1.9,0,4.1,0.3,6,0c0.3,0,0.6,0,0.9,0c-1.1,0-0.9-0.9-0.7,0c0.1,0.4,0.8,0.9,1.1,1.2
                                                c4.5,4.8,8.9,9.8,13.6,14.3c-0.8-0.8-0.1-1.3-0.4-0.5c-0.2,0.4,0,1.3,0,1.8c0,2.1,0,4.2,0,6.3c0,15.3,0,30.6,0,45.9
                                                c0,11.8,0,23.6,0,35.3c0.5-0.5,1-1,1.5-1.5c-23.2,0-46.4,0-69.5,0c-3.4,0-6.7,0-10.1,0c0.5,0.5,1,1,1.5,1.5c0-4.1,0-8.1,0-12.2
                                                c0-2-3-2-3,0c0,4.1,0,8.1,0,12.2c0,0.8,0.7,1.5,1.5,1.5c23.2,0,46.4,0,69.5,0c3.4,0,6.7,0,10.1,0c0.8,0,1.5-0.7,1.5-1.5
                                                c0-26.3,0-52.6,0-78.9c0-3.3,0.7-7.6,0-10.9c-0.3-1.4-1.3-2.2-2.3-3.2c-2.8-3-5.6-5.9-8.4-8.9c-1.4-1.5-3.3-4.4-5.2-5.4
                                                c-0.9-0.4-2.2-0.2-3.2-0.2c-6.4,0-12.7,0-19.1,0c-14.3,0-28.6,0-42.9,0c-0.8,0-1.5,0.7-1.5,1.5c0,23,0,46,0,69
                                                c0,3.3,0,24.8,0,28.1c0,2,3,0,3-2V194.9z"/>
                                        </g>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <line class="st2" x1="114.1" y1="186.6" x2="114.1" y2="183.2"/>
                                    </g>
                                    <g>
                                        <g>
                                            <path class="st1" d="M115.6,186.6c0-1.1,0-2.3,0-3.4c0-2-3-2-3,0c0,1.1,0,2.3,0,3.4C112.6,188.6,115.6,188.6,115.6,186.6
                                                L115.6,186.6z"/>
                                        </g>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <polygon class="st2" points="178.6,97.8 178.6,113.7 193.7,113.7             "/>
                                    </g>
                                    <g>
                                        <g>
                                            <path class="st1" d="M177.1,97.8c0,5.3,0,10.6,0,16c0,0.8,0.7,1.5,1.5,1.5c5.1,0,10.1,0,15.2,0c1.3,0,2-1.7,1.1-2.6
                                                c-5.1-5.3-10.1-10.6-15.2-16c-1.4-1.4-3.5,0.7-2.2,2.2c5.1,5.3,10.1,10.6,15.2,16c0.4-0.9,0.7-1.7,1.1-2.6c-5.1,0-10.1,0-15.2,0
                                                c0.5,0.5,1,1,1.5,1.5c0-5.3,0-10.6,0-16C180.1,95.8,177.1,95.8,177.1,97.8z"/>
                                        </g>
                                    </g>
                                </g>
                            </g>
                            <g>
                                <path class="st1" d="M115.8,245.7v12.6h-3.1v-9.6h-3.3v9.6h-3.1v-12.6H115.8z"/>
                                <path class="st1" d="M127.1,245.5c3.6,0,6.5,2.8,6.5,6.5c0,3.7-2.9,6.5-6.5,6.5c-3.6,0-6.5-2.8-6.5-6.5
                                    C120.6,248.3,123.5,245.5,127.1,245.5z M130.5,252c0-4.8-6.9-4.8-6.9,0C123.6,256.8,130.5,256.7,130.5,252z"/>
                                <path class="st1" d="M144.2,245.7c3.1,0,4.5,4,2.1,5.7c1.3,0.7,1.9,1.8,1.9,2.8c0,2-1.4,4.1-4,4.1h-5.8v-12.6H144.2z M141.4,250.3
                                    h2.3c1.1,0,1-1.8,0-1.8h-2.4V250.3z M141.4,255.4h2.8c1.3,0,1.3-2.3,0-2.3h-2.8V255.4z"/>
                                <path class="st1" d="M156,255.3h5.2v3h-8.3v-12.6h8.3v3H156v1.8h5.1v3H156V255.3z"/>
                                <path class="st1" d="M170.9,245.7c5.9,0,5.9,8.9,0,8.9h-1.7v3.7H166v-12.6H170.9z M170.9,251.7c1.9,0,1.9-3,0-3h-1.7v3H170.9z"/>
                                <path class="st1" d="M190.5,245.9l-4.5,6.1l4.9,6.2v0.2h-3.8l-3.7-4.9v4.9h-3.1v-12.6h3.1v4.9l3.5-4.9h3.7V245.9z"/>
                                <path class="st1" d="M203.5,256.5h-4.3l-0.7,1.9h-3.3l5-12.7h2.2l5.2,12.7h-3.5L203.5,256.5z M200.4,253.3l-0.1,0.3h2.1l-0.1-0.2
                                    l-1-2.7L200.4,253.3z"/>
                            </g>
                            </svg>
                        </span>
                    </a>
                </div>
                <div class="subitem" style="background-color:tomato">
                    <a href="#">
                        <span class="subitem_img">
                            <svg version="1.1" id="subitem_img_4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 311.8 311.8" style="enable-background:new 0 0 311.8 311.8;" xml:space="preserve">
                            <style type="text/css">
                                #subitem_img_4 .st0{fill:#EFEFEF;}
                                #subitem_img_4 .st1{fill:#46433E;}
                                #subitem_img_4 .st2{fill:rgb(236, 82, 54);}
                                #subitem_img_4 .st3{fill:#4A4340;}
                            </style>
                            <g>
                                <path class="st1" d="M120,255.6h-4.3l-0.7,1.9h-3.3l5-12.7h2.2l5.2,12.7h-3.5L120,255.6z M116.9,252.5l-0.1,0.3h2.1l-0.1-0.2
                                    l-1-2.7L116.9,252.5z"/>
                                <path class="st1" d="M133.4,244.9c5.9,0,5.9,8.9,0,8.9h-1.7v3.7h-3.1v-12.6H133.4z M133.4,250.8c1.9,0,1.9-3,0-3h-1.7v3H133.4z"/>
                                <path class="st1" d="M145.6,254.5h5.2v3h-8.3v-12.6h8.3v3h-5.2v1.8h5.1v3h-5.1V254.5z"/>
                                <path class="st1" d="M158.7,249.6h3.3v-4.8h3.1v12.6H162v-4.9h-3.3v4.9h-3.1v-12.6h3.1V249.6z"/>
                                <path class="st1" d="M181.2,254.6v4.7h-2.9v-1.8h-5.4v1.8h-3v-4.3l1.2-0.3c0.4-0.6,0.6-1.7,0.6-2.9l0.5-6.9h8.1v9.7H181.2z
                                     M177.2,254.6v-6.8H175c-0.3,4.7-0.3,5.9-0.8,6.8H177.2z"/>
                                <path class="st1" d="M194,255.6h-4.3l-0.7,1.9h-3.3l5-12.7h2.2l5.2,12.7h-3.5L194,255.6z M190.9,252.5l-0.1,0.3h2.1l-0.1-0.2
                                    l-1-2.7L190.9,252.5z"/>
                            </g>
                            <g>
                                <g>
                                    <g>
                                        <path class="st2" d="M197.8,155.9h-45c0-24.8,0-45,0-45C177.7,110.9,197.8,131.1,197.8,155.9z"/>
                                    </g>
                                    <g>
                                        <circle class="st3" cx="152.9" cy="155.9" r="3.4"/>
                                    </g>
                                    <g>
                                        <g>
                                            <path class="st1" d="M185.9,154.4c-11,0-22.1,0-33.1,0c-2,0-2,3,0,3c11,0,22.1,0,33.1,0C187.9,157.4,187.9,154.4,185.9,154.4
                                                L185.9,154.4z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path class="st1" d="M151.3,110.9c0,1.2,0,2.5,0,3.7c0,2,3,2,3,0c0-1.2,0-2.5,0-3.7C154.4,109,151.3,109,151.3,110.9
                                                L151.3,110.9z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path class="st1" d="M151.3,197.2c0,1.2,0,2.5,0,3.7c0,2,3,2,3,0c0-1.2,0-2.5,0-3.7C154.4,195.2,151.3,195.2,151.3,197.2
                                                L151.3,197.2z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path class="st1" d="M111.8,154.4c-1.2,0-2.5,0-3.7,0c-2,0-2,3,0,3c1.2,0,2.5,0,3.7,0C113.8,157.4,113.8,154.4,111.8,154.4
                                                L111.8,154.4z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path class="st1" d="M198,153.7c-1.5,0-3.1,0-4.6,0c-2.4,0-2.4,3.8,0,3.8c1.5,0,3.1,0,4.6,0C200.4,157.4,200.4,153.7,198,153.7
                                                L198,153.7z"/>
                                        </g>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path class="st1" d="M196.3,155.9c-0.3,18.3-11.7,35-29.2,41.1c-17,5.9-36.2,0.5-47.7-13.2c-11.7-14-13.3-34.5-3.9-50.2
                                            c9.3-15.6,28-23.9,45.8-20.3C181.7,117.3,196,135.4,196.3,155.9c0,1.9,3,1.9,3,0c-0.3-19.2-12-36.6-30.1-43.5
                                            c-18.4-7-39.8-1.2-52.3,14c-12.3,15-14,36.7-4,53.3c9.9,16.6,29.5,25.3,48.5,21.8c21.9-4.1,37.5-23.6,37.8-45.7
                                            C199.4,154,196.4,154,196.3,155.9z"/>
                                    </g>
                                </g>
                            </g>
                            </svg>
                        </span>
                    </a>
                </div>
                <div class="subitem" style="background-color:#FF7008">
                    <a href="#">
                        <span class="subitem_img">
                            <svg version="1.1" id="subitem_img_5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 311.8 311.8" style="enable-background:new 0 0 311.8 311.8;" xml:space="preserve">
                            <style type="text/css">
                                #subitem_img_5 .st0{fill:#F5F6F5;}
                                #subitem_img_5 .st1{fill:#46433E;}
                                #subitem_img_5 .st2{fill:rgb(236, 100, 0);}
                            </style>
                            <g>
                                <path class="st1" d="M90.3,252h3.1c-0.5,3.3-3.2,5.5-6.4,5.5c-3.6,0-6.5-2.8-6.5-6.5c0-3.7,2.9-6.5,6.5-6.5c3.2,0,6,2.2,6.4,5.4
                                    h-3.1c-0.9-3.7-6.8-3.3-6.8,1.1C83.5,255.4,89.4,255.7,90.3,252z"/>
                                <path class="st1" d="M107.6,244.6v12.6h-3.1v-9.6h-3.3v9.6h-3.1v-12.6H107.6z"/>
                                <path class="st1" d="M115.6,254.3h5.2v3h-8.3v-12.6h8.3v3h-5.2v1.8h5.1v3h-5.1V254.3z"/>
                                <path class="st1" d="M136,254.5v5.1h-2.9v-2.3h-7.4v-12.6h3.1v9.8h3.1v-9.8h3.1v9.8H136z"/>
                                <path class="st1" d="M144,255.7c0,0.8-0.7,1.6-1.7,1.6c-0.9,0-1.6-0.8-1.6-1.6c0-1,0.7-1.6,1.6-1.6
                                    C143.3,254.1,144,254.8,144,255.7z"/>
                                <path class="st1" d="M156.9,244.6c5.9,0,5.9,8.9,0,8.9h-1.7v3.7h-3.1v-12.6H156.9z M156.9,250.6c1.9,0,1.9-3,0-3h-1.7v3H156.9z"/>
                                <path class="st1" d="M171.8,255.4h-4.3l-0.7,1.9h-3.3l5-12.7h2.2l5.2,12.7h-3.5L171.8,255.4z M168.7,252.2l-0.1,0.3h2.1l-0.1-0.2
                                    l-1-2.7L168.7,252.2z"/>
                                <path class="st1" d="M187.3,247.6h-5.9v1.6h2.8c2.5,0,4,1.9,4,4c0,2-1.3,4.1-4,4.1h-5.8v-12.6h8.9V247.6z M181.4,254.3h2.8
                                    c1.4,0,1.3-2.3,0-2.3h-2.8V254.3z"/>
                                <path class="st1" d="M197,244.5c3.6,0,6.5,2.8,6.5,6.5c0,3.7-2.9,6.5-6.5,6.5c-3.6,0-6.5-2.8-6.5-6.5
                                    C190.5,247.3,193.4,244.5,197,244.5z M200.4,251c0-4.8-6.9-4.8-6.9,0C193.5,255.7,200.4,255.7,200.4,251z"/>
                                <path class="st1" d="M209.3,257.3v-9.7h-3.4v-2.9h9.9v2.9h-3.4v9.7H209.3z"/>
                                <path class="st1" d="M218.4,257.3v-12.6h3.1v3.7h1.7c2.9,0,4.4,2.2,4.4,4.4c0,2.2-1.5,4.4-4.4,4.4H218.4z M221.5,251.3v3h1.7
                                    c0.9,0,1.3-0.8,1.3-1.5c0-0.7-0.4-1.5-1.3-1.5H221.5z M228.4,244.6h3.1v12.6h-3.1V244.6z"/>
                            </g>
                            <g>
                                <g>
                                    <g>
                                        <path class="st1" d="M127.5,195.7c-0.3-7.6-0.5-15.1-0.6-22.7c0-1.7,0.2-3.5,0.1-5.2c0-0.5,0.4-1.8-0.4-0.4
                                            c0.2-0.3,0.9-0.7,1.3-0.9c3.1-2,6.1-4.4,9.1-6.6c-0.8-0.4-1.5-0.9-2.3-1.3c0.6,8.2,1.3,16.5,1.9,24.7c0.1,0.8,0.6,1.5,1.5,1.5
                                            c6.2,0,12.5,0,18.7,0c1.9,0,1.9-3,0-3c-6.2,0-12.5,0-18.7,0c0.5,0.5,1,1,1.5,1.5c-0.6-8.2-1.3-16.5-1.9-24.7
                                            c-0.1-1-1.3-2-2.3-1.3c-3.2,2.3-6.8,4.5-9.8,7.1c-1.9,1.6-1.6,3.4-1.7,5.9c-0.1,8.5,0.2,17,0.6,25.5
                                            C124.5,197.6,127.5,197.6,127.5,195.7L127.5,195.7z"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path class="st1" d="M125,165.2c-7,4.3-12.8,8.4-16.1,16.3c-1.8,4.4-2.9,9.4-2.9,14.2c0,1.9,3,1.9,3,0c-0.1-3.8,0.7-7.7,2-11.3
                                            c2.8-8.1,8.5-12.2,15.5-16.6C128.1,166.8,126.6,164.2,125,165.2L125,165.2z"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path class="st1" d="M187.5,195.7c0.3-8.5,0.7-17,0.6-25.5c0-2.4,0.2-4.1-1.5-5.7c-2.9-2.8-6.7-4.9-10-7.3
                                            c-1-0.7-2.2,0.3-2.3,1.3c-0.6,8.2-1.3,16.5-1.9,24.7c0.5-0.5,1-1,1.5-1.5c-6.2,0-12.5,0-18.7,0c-1.9,0-1.9,3,0,3
                                            c6.2,0,12.5,0,18.7,0c0.9,0,1.4-0.7,1.5-1.5c0.6-8.2,1.3-16.5,1.9-24.7c-0.8,0.4-1.5,0.9-2.3,1.3c2.9,2.1,5.8,4.4,8.8,6.4
                                            c0.4,0.3,1.3,0.7,1.6,1.1c-0.9-1.3-0.4-0.1-0.4,0.4c-0.1,1.7,0.1,3.5,0.1,5.2c0,7.6-0.3,15.1-0.6,22.7
                                            C184.4,197.6,187.4,197.6,187.5,195.7L187.5,195.7z"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path class="st1" d="M185.5,167.8c7,4.3,12.7,8.5,15.5,16.6c1.3,3.6,2,7.5,2,11.3c0,1.9,3,1.9,3,0c0.1-4.8-1-9.8-2.9-14.2
                                            c-3.3-7.9-9.1-12-16.1-16.3C185.3,164.2,183.8,166.8,185.5,167.8L185.5,167.8z"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <g>
                                            <path class="st1" d="M173.1,130.8c-0.2,10.9-6.8,28.2-20.7,24.6c-12.5-3.2-14.9-19.8-14.3-30.4c0.3-4.4,1.1-9.4,4.3-12.7
                                                c4.5-4.5,12.5-4.7,18.4-3.7C172.5,110.5,173.1,121,173.1,130.8c0,1.9,3,1.9,3,0c0-8.4-0.1-18.9-8.7-23.3c-8-4.2-22-3.7-28,3.7
                                                c-5.9,7.2-5.4,20.4-3.2,28.8c2.6,9.8,10.4,20.4,21.8,18.6c12.6-1.9,17.9-16.6,18.1-27.8C176.2,128.9,173.2,128.9,173.1,130.8z"
                                                />
                                        </g>
                                    </g>
                                    <g>
                                        <path class="st2" d="M134.4,123H132c-1.3,0-2.4,1.1-2.4,2.4v0c0,1.3,1.1,2.4,2.4,2.4h47.1c1.3,0,2.4-1.1,2.4-2.4v0
                                            c0-1.3-1.1-2.4-2.4-2.4c0,0-1.3,0-1.3,0v-7.1c-0.1-5.1-6.8-17.6-22-17.6c-15.1,0-21.1,11.5-21.4,17.6L134.4,123z"/>
                                        <g>
                                            <path class="st1" d="M134.4,121.5c-2.9,0-6.7,0.4-6.2,4.3c0.3,2.7,2.6,3.4,4.8,3.5c7.1,0.4,14.4,0,21.6,0c7.6,0,15.3,0.1,22.9,0
                                                c1.9,0,3.9,0,5-1.9c2.1-3.6-1.6-5.9-4.7-5.9c0.5,0.5,1,1,1.5,1.5c0-5.4,0.3-9.9-2.6-14.7c-4.3-7.1-11.9-11.3-20.1-11.5
                                                c-8.3-0.2-16.3,3.3-20.7,10.4c-3.2,5-3,10-3,15.8c0,1.9,3,1.9,3,0c0-4.2-0.4-8.3,1.4-12.2c3.5-7.4,11.3-11.2,19.3-10.9
                                                c7.6,0.2,14.7,4.3,18.2,11.2c2,3.8,1.5,7.8,1.5,12c0,0.8,0.7,1.5,1.5,1.5c1.2,0,1.6,1.3,0.9,1.9c-0.2,0.2-1.2,0-1.4,0
                                                c-1.7,0.2-3.6,0-5.3,0c-5.8,0-11.6,0-17.4,0c-5.5,0-11,0-16.4,0c-1.4,0-3.4,0.4-4.8,0c-0.2-0.1-1,0.2-1.2,0
                                                c-1.5-1.3,1.4-1.9,2.3-1.9C136.3,124.5,136.3,121.5,134.4,121.5z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <line class="st2" x1="152.8" y1="98.8" x2="152.8" y2="112.2"/>
                                        <g>
                                            <path class="st1" d="M151.3,98.8c0,4.5,0,8.9,0,13.4c0,1.9,3,1.9,3,0c0-4.5,0-8.9,0-13.4C154.3,96.9,151.3,96.9,151.3,98.8
                                                L151.3,98.8z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <line class="st2" x1="159" y1="98.8" x2="159" y2="112.2"/>
                                        <g>
                                            <path class="st1" d="M157.5,98.8c0,4.5,0,8.9,0,13.4c0,1.9,3,1.9,3,0c0-4.5,0-8.9,0-13.4C160.5,96.9,157.5,96.9,157.5,98.8
                                                L157.5,98.8z"/>
                                        </g>
                                    </g>
                                </g>
                            </g>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>