<section class="trade-in">

    <div class="mbox">

        <h1 class="title">Trade IN</h1>

    </div>

    <div class="trade-in-info">
        <div class="mbox">
            <h2>Обмен <span class="red">старого</span> оборудования на <span class="green">новое</span></h2>
            <div class="trade-in-info-text">Избавьтесь от вышедшей из строя или устаревшей техники, получите компенсацию и приобретите новые приборы по программе Trade In (Трейд Ин) в РУСГЕОКОМ.</div>
            <div class="trade-in-info-img">
                <img src="images/old-device-img.png" alt="" />
                <img src="images/change-img.png" alt="" />
                <img src="images/new-device-img.png" alt="" />
            </div>
        </div>
    </div>

    <div class="mbox">

        <div class="trade-in-text ctext">

            <p>Мы поможем обновить ваш парк измерительного оборудования без значительных затрат и в минимальные сроки. Избавьтесь от вышедшей из строя или устаревшей техники, получите компенсацию и приобретите новые приборы по программе Trade In (Трейд Ин) в РУСГЕОКОМ. Мы купим геодезическое оборудование всех типов и марок и подберём ему наилучшую замену!</p>

            <p>Наша компания – лидер на рынке геодезического и строительного оборудования, мы продаём тахеометры и теодолиты, GPS-приемники, лазерные инструменты – и теперь всё это и многое другое вы можете приобрести с выгодой для себя по программе геодезическое оборудование Трейд Ин.</p>

            <br />

            <h6>Наши условия</h6>

            <p>Это самый выгодный способ обновить парк оборудования или списать старую технику без лишних затрат. Обратившись в РУСГЕОКОМ по программе Trade In, вы решите сразу несколько проблем:</p>

            <ul>
                <li>Вы экономите средства на утилизацию устаревшего или повреждённого оборудования – скупка геодезического оборудования производится по его фактической стоимости.</li>
                <li>Вы гарантированно уложитесь в бюджет: стоимость вашего старого прибора покроет значительную часть цены нового.</li>
                <li>Вы сможете обновить материальную базу без остановки работ, ведь вы сразу же обменяете старый прибор на новый, не ожидая окончания ремонта.</li>
            </ul>

            <h6>Как работает программа Trade In</h6>

            <p>Компания РУСГЕОКОМ принимает к рассмотрению заявки на замену любого геодезического оборудования всех классов, типов и брендов. Специалисты нашего сервисного центра проведут оценку вашей техники и вынесут взвешенное решение по стоимости. Мы купим геодезическое оборудование, будь то устаревший тахеометр или подержанный нивелир, а его стоимость может быть сразу же вычтена из цены нового прибора.</p>

            <h6>Trade In в РУСГЕОКОМ – это выгодно!</h6>

            <p>Если вы решите продать БУ тахеометр или другой прибор частнику, а вырученные деньги вложить в приобретение нового, вы просто потеряете время и средства. Зачем самостоятельно искать покупателя, рисковать при проведении сделки и отдавать прибор по заниженной цене? В компании РУСГЕОКОМ все операции по покупке и продаже оборудования производятся официально с оформлением всех необходимых документов. При оценке БУ техники мы всегда предложим оптимальную цену, обсудим её с вами и оставим окончательное решение на ваше усмотрение.</p>

        </div>

    </div>

</section>